# 1. Cursos da UFRN


---

# 2. Membros


---

*   Eduardo de Paiva Dias                      2018126657
*   Ivan Fernandes de Moraes                   2018066271 
*   Laís Guimarães Lima Gomes                  2018054419

# 3. Descrição Dados


---

Fonte: [Banco dados](http://dados.gov.br/dataset/cursos-ufrn)
<img src="img3.png">

OBS: 
*   Dou = Data liberação curso pelo Diário Oficial da União;
*   Os atributos convenio_academico e website_responsavel foram eliminados pela escassez de dados, 2 e 37 itens respectivamente.

In [ ]:
import io
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt
conn = sqlite3.connect('/tmp/consult.db')
cursor = conn.cursor()

### Entidades

In [ ]:
cursor.execute("CREATE TABLE COORDENADOR ( "+
               "ID_COORDENADOR INT  NOT NULL, "+
               "NOME_COORDENADOR VARCHAR(150)  NOT NULL, "+
               "PRIMARY KEY (ID_COORDENADOR) ) ")
conn.commit()

In [ ]:
cursor.execute("CREATE TABLE CURSO (" + 
                "ID_CURSO INT  NOT NULL," +
                "NOME_CURSO VARCHAR(150)  NOT NULL," +
                "SITUACAO_CURSO VARCHAR(100)  CHECK(SITUACAO_CURSO='ATIVO' OR SITUACAO_CURSO='NAO ATIVO')," + 
                "NIVEL_ENSINO VARCHAR(100)  NOT NULL," +
                "MODALIDADE_EDUCACAO VARCHAR(100)  NOT NULL," +
                "PRIMARY KEY (ID_CURSO) )  ")
conn.commit()

In [4]:
cursor.execute("CREATE TABLE OFERTA (" + 
                "ID_CURSO INT NOT NULL, " +
                "GRAU_ACADEMICO VARCHAR(100), " +
                "AREA_CONHECIMENTO VARCHAR(150)," + 
                "TIPO_OFERTA VARCHAR(100), " +
                "TIPO_CICLO_FORMACAO VARCHAR(100), " +
                "DATA_FUNCIONAMENTO DATETIME, " +
                "FOREIGN KEY (ID_CURSO) REFERENCES CURSO(ID_CURSO), " +
                "PRIMARY KEY (ID_CURSO)  )")

In [5]:
cursor.execute("CREATE TABLE TURNO (" + 
                "ID_TURNO INT NOT NULL, " +
                "NOME_TURNO VARCHAR(100),  " +
                "PRIMARY KEY (ID_TURNO) )")

In [6]:
cursor.execute("CREATE TABLE UNIDADE_ACADEMICA ( " +
                "ID_UNIDADE_RESPONSAVEL INT NOT NULL, " +
                "UNIDADE_RESPONSAVEL VARCHAR(150), " + 
                "PRIMARY KEY (ID_UNIDADE_RESPONSAVEL) )")

In [7]:
cursor.execute("CREATE TABLE LOCALIZACAO (  " +
                "ID_CURSO INT NOT NULL,  " +
                "MUNICIPIO VARCHAR(100),   " +
                "CAMPUS VARCHAR(100),   " +
                "FOREIGN KEY (ID_CURSO) REFERENCES CURSO(ID_CURSO),  " +
                "PRIMARY KEY (ID_CURSO) ) ")

In [8]:
cursor.execute("CREATE TABLE MEC (  " +
                "COD_INEP INT NOT NULL,  " +
                "DOU DATETIME,  " +
                "PORTARIA_RECONHECIMENTO VARCHAR(150),  " +
                "PRIMARY KEY (COD_INEP) )" )

### Relacionamentos

In [9]:
cursor.execute("CREATE TABLE CURSO_TURNO ( " +
                "ID_CURSO INT NOT NULL, " +
                "ID_TURNO INT NOT NULL, " +
                "FOREIGN KEY (ID_CURSO) REFERENCES CURSO(ID_CURSO), " +
                "FOREIGN KEY (ID_TURNO) REFERENCES TURNO(ID_TURNO)," +
                "PRIMARY KEY (ID_CURSO, ID_TURNO) )" )

In [10]:
cursor.execute("CREATE TABLE COORDENADOR_UNIDADE ( " +
                "ID_COORDENADOR INT NOT NULL, " +
                "ID_UNIDADE_RESPONSAVEL INT NOT NULL, " +
                "FOREIGN KEY (ID_COORDENADOR) REFERENCES COORDENADOR(ID_COORDENADOR), " +
                "FOREIGN KEY (ID_UNIDADE_RESPONSAVEL) REFERENCES UNIDADE_ACADEMICA(ID_UNIDADE_RESPONSAVEL), " +
                "PRIMARY KEY (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) )" )

In [11]:
cursor.execute("CREATE TABLE CURSO_UNIDADE ( " +
                "ID_CURSO INT NOT NULL, " +
                "ID_UNIDADE_RESPONSAVEL INT NOT NULL, " +
                "FOREIGN KEY (ID_CURSO) REFERENCES CURSO(ID_CURSO), " +
                "FOREIGN KEY (ID_UNIDADE_RESPONSAVEL) REFERENCES UNIDADE_ACADEMICA(ID_UNIDADE_RESPONSAVEL), " +
                "PRIMARY KEY (ID_CURSO) ) " )

In [12]:
cursor.execute("CREATE TABLE CURSO_MEC ( " +
                "ID_CURSO INT NOT NULL, " +
                "COD_INEP INT NOT NULL, " +
                "FOREIGN KEY (ID_CURSO) REFERENCES CURSO(ID_CURSO), " + 
                "FOREIGN KEY (COD_INEP) REFERENCES MEC(COD_INEP), " +
                "PRIMARY KEY (ID_CURSO) )" )

### População

In [13]:
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (21846,'ADELARDO ADELINO DANTAS DE MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755281,'ADJA FERREIRA DE ANDRADE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26212,'ADRIANA AUGUSTO DE REZENDE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752176,'ADRIANA GOMES MAGALHAES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752008,'ADRIANA ISABEL BACKES STEPPAN')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (20885,'AFRANIO GALDINO DE ARAUJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758779,'AGUINALDO CESAR SURDI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753581,'ALESSANDRA CARDOZO DE FREITAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752750,'ALEXANDRE BARBOSA DE OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752917,'ALEXANDRE RECHE E SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753093,'ALEXANDRO TEIXEIRA GOMES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756851,'ALINE MEDEIROS CAVALCANTI DA FONSECA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (15373,'ALMIR MIRANDA FERREIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757780,'AMANDA MELISSA DAMIAO LEITE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754400,'ANA TANIA LOPES SAMPAIO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756347,'ANA VIRGINIA LIMA DA SILVA ROCHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (24415,'ANDREA CRISTINA SANTOS DE JESUS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22722,'ANELINO FRANCISCO DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (127199,'ANGELA MARIA CHUVAS NASCHOLD')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757106,'ANGELICA TERESA NASCIMENTO DE MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5759298,'ANNA GISELLE CAMARA DANTAS RIBEIRO RODRIGUES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752264,'AQUILES MEDEIROS FILGUEIRA BURLAMAQUI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755812,'ARNALDO LUIS MORTATTI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753706,'BEATRIZ DE CASSIA MARTINS SALOMAO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755418,'BEATRIZ STRANSKY FERREIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756337,'BERGSON GUEDES BEZERRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756811,'BIANCA NUNES GUEDES DO AMARAL ROCHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753046,'BRENO GUILHERME DE ARAUJO TINOCO CABRAL')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752237,'BRUNO LEONARDO CANTO MARTINS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (18678,'CAIO DORNELES CUNHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753667,'CARLOS ALEXANDRE GOMES DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5759402,'CARLOS ANTONIO DOS SANTOS SEGUNDO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753072,'CARLOS CESAR NASCIMENTO DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26245,'CARLOS FRANCISCO DO NASCIMENTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753597,'CARLOS NECO DA SILVA JUNIOR')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755388,'CARLOS PROLO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756776,'CAROLINA TODESCO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754627,'CESAR SANSON')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758394,'CLAUDIA ROSANA KRANZ')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26045,'CLEONICE ANDREA ALVES CAVALCANTE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753646,'CRISTIANE SILVA CORREA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757048,'DANIELE VIEIRA DANTAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (21707,'DANILO CESAR GUANAIS DE OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757438,'DANILO CURVELO DE SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753527,'DAVID ARAUJO BORGES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752026,'DENIZE ARAUJO BARBOSA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752753,'EDUARDO ANIBAL PELLEJERO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755033,'EDUARDO CALDAS COSTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757883,'EIJI ADACHI MEDEIROS BARBOSA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5041557,'ELIANE SANTOS CAVALCANTE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758745,'ELIAS JACOB DE MENEZES NETO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5751560,'ELISANIE NEIVA MAGALHAES TEIXEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22941,'ELISETE SCHWADE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755467,'ELISSA ARANTES OSTROSKY')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5759593,'EMERSON MOURA DE ALENCAR')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (2301337,'ERIVAN FERREIRA BORGES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753008,'EULER MACIEL DANTAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758443,'EVERTON RANIELLY DE SOUSA CAVALCANTE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752210,'EWERTON WILLIAM GOMES BRITO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752855,'EZEQUIAS OLIVEIRA LIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756793,'FABIO RESENDE DE ARAUJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754342,'FABIO ROBERTO DAMETTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757625,'FERNANDA JULYANNA SILVA DOS SANTOS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755053,'FERNANDO GUEDES CURY')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755991,'FLAVIO BOLEIZ JUNIOR')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756425,'FLEIDE DANIEL SANTOS DE ALBUQUERQUE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758826,'FRANCILEIDE BATISTA DE ALMEIDA VIEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757099,'FRANCISCO DE ASSIS NOBERTO GALDINO DE ARAUJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752271,'FRANCISCO FRANSUALDO DE AZEVEDO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22757,'FRANCISCO PIGNATARO LIMA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (24837,'GEORGE DANTAS DE AZEVEDO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752986,'GILMARA MENDES DA COSTA BORGES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23112,'GILSON DE VASCONCELOS TORRES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756800,'GLAUCE LILIAN ALVES DE ALBUQUERQUE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (2261772,'GUILHERME AUGUSTO DE FREITAS FREGONEZI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752909,'GUNTHINEIA ALVES DE LIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (2257775,'GUSTAVO AUGUSTO SEABRA BARBOSA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (20793,'HEITOR NEVES MAIA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756882,'HELENA RUGAI BASTOS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753006,'HELIO ROBERTO HEKIS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757889,'HERBERT RICARDO GARCIA VIANA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755477,'HUMBERTO NEVES MAIA DE OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5759417,'IAPONY RODRIGUES GALVAO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (130251,'INGRID WILZA LEAL BEZERRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757620,'ISABEL DILLMANN NUNES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26152,'ISAUREMI VIEIRA DE ASSUNCAO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757090,'ITAMIR DE MORAIS BARROCA FILHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (24939,'IVAN MAX FREIRE DE LACERDA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752003,'IVANISE MARINA MORETTI REBECCHI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752165,'IZABEL SOUZA DO NASCIMENTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (4274563,'JAHYR PHILIPPE BICHARA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26221,'JAILMA MARIA DE LIMA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752667,'JAMERSON VIEGAS QUEIROZ')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756244,'JANE CRISTINA MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752206,'JANETE LIMA DE CASTRO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752298,'JENNYS LOURDES MENESES BARILLAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753402,'JOAO PAULO DOS SANTOS MELO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756922,'JOAO PAULO MARTINS GUEDES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (25154,'JOEL CARLOS DE SOUZA ANDRADE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758001,'JORGE MOTTA DA ROCHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752683,'JOSE EVANGELISTA FAGUNDES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758350,'JOSE HAMILTON DA COSTA FILHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755565,'JOSE HERIBERTO OLIVEIRA DO NASCIMENTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758814,'JOSE JOAO LELIS LEAL DE SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752697,'JOSELIO MARIA GALVAO DE ARAUJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (74509,'JOVANKA BITTENCOURT LEITE DE CARVALHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758533,'JULIANA FELIPE FARIAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756416,'JULIANA MARIA GAZZOLA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5751879,'JULIANA MESQUITA HIDALGO FERREIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26321,'JULIANA TEIXEIRA JALES MENESCAL PINTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758764,'JULIANE VARGAS WELTER')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753659,'JÚLIO CÉZAR DE OLIVEIRA FREITAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753340,'KARINA PATRICIA VIEIRA DA CUNHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753026,'KAROLINE LINS CAMARA MARINHO DE SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5760304,'KATIA REGINA LOPES COSTA FREIRE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752506,'KATIE MORAES DE ALMONDES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753090,'KEITY MARA FERREIRA DE SOUZA E SABOYA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (25607,'KENIA BEATRIZ FERREIRA MAIA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754935,'KILZA FERNANDA MOREIRA DE VIVEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754607,'KLEIBER LIMA DE BESSA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757652,'LARALIS NUNES DE SOUSA OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23144,'LARISSA KELLY DE OLIVEIRA MARQUES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5760225,'LETICIA DOS SANTOS CARVALHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5760257,'LIGIA REJANE SIQUEIRA GARCIA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753054,'LUCIANA SILVA CARNEIRO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757966,'LUIS ALFREDO FERNANDES DE ASSIS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753655,'LUIZ ALVES MORAIS FILHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758472,'LUIZ FERNANDO DAL PIAN NOBRE')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752234,'LUZIA GUACIRA DOS SANTOS SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (25988,'LUZIANA MARIA NUNES DE QUEIROZ')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756718,'LYANE RAMALHO CORTEZ')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5332355,'LYGIA MARIA DE FIGUEIREDO MELO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756372,'MALCON DO PRADO COSTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22739,'MANOEL VERAS DE SOUSA NETO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (17497,'MANUEL CLAUDEMIR SILVA CALDAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5751828,'MARCEL VINICIUS MEDEIROS OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753878,'MARCELO DA SILVA TAVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26034,'MARCIA RODRIGUES PEREIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757053,'MARCIO ROMEU RIBAS DE OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757898,'MARCIO SALES SANTIAGO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753661,'MARCIO VALERIO DE ARAUJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757959,'MARCIO VIEIRA DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753688,'MARCO TULIO MENDONCA DINIZ')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757853,'MARCOS FERNANDO MACHADO DE MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (2296724,'MARCOS SILVA DE AQUINO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757144,'MARCUS ALEXANDRE NUNES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (25454,'MARIA CELESTE NUNES DE MELO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26070,'MARIA CRISTINA DOS SANTOS MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753575,'MARIA DA APRESENTACAO BARRETO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26546,'MARIA DE FATIMA DE SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752792,'MARIA DE FATIMA GARCIA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23664,'MARIA DOS REMEDIOS FONTES SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (37484,'MARIA HOZANETE ALVES DE LIMA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757217,'MARIA JUCIMEIRE DOS SANTOS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23169,'MARIA TERESA DA SILVA MOTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753860,'MARIA TERESA PIRES COSTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755473,'MARIA THEREZA ALBUQUERQUE BARBOSA CABRAL MICUSSI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22937,'MARKUS FIGUEIRA DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23122,'MATILDE MEDEIROS DE ARAÚJO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758607,'MELISSA DOS SANTOS LOPES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756426,'MICHEL JAIRO VIEIRA DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754639,'MICHELLE CEQUEIRA FEITOR')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26160,'MIRIAM DE OLIVEIRA INACIO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (18408,'MOACIR GUILHERMINO DA SILVA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (2305973,'NAISANDRA BEZERRA DA SILVA FARIAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754954,'NICOLAU APOENA CASTRO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752231,'PATRICIA DOS SANTOS CALDERON')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753576,'PATRICIA WHEBBER SOUZA DE OLIVEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752155,'PAULO MOREIRA SILVA DANTAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (25967,'PAULO ROBERTO DANTAS DE SOUZA LEAO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (26118,'PAULO SERGIO MARINHO LUCIO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756357,'PEDRO ALVES BARBOSA NETO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756312,'PETRUS PEREIRA GOMES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22163,'RAIMUNDO NONATO ARAUJO DA ROCHA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756946,'RAMON JOSE AYRES SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757891,'RICARDO PIRES DE SOUZA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (75734,'ROBSON ROGERIO PESSOA COELHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752857,'RODRIGO ANTONIO PONCE DE LEON FERREIRA DE CARVALHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758430,'RODRIGO DE FREITAS AMORIM')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758532,'RODRIGO FIGUEIREDO SUASSUNA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752711,'RODRIGO PEGADO DE ABREU FREITAS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754967,'ROGERIO JUNIOR CORREIA TAVARES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5756363,'ROSIRES MAGALI BEZERRA DE BARROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752553,'RUY ALKMIM ROCHA FILHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754632,'SEBASTIAO AUGUSTO RABELO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752554,'SOCRATES DANTAS LOPES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752278,'SULEMI FABIANO CAMPOS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754981,'TAMARA MARIA COSTA E SILVA N DE ABREU')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757908,'TANIRO CHACON RODRIGUES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (24386,'TELMA MARIA ARAUJO MOURA LEMOS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (22150,'TEREZINHA PETRUCIA DA NOBREGA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5760173,'THAIS REIS SILVA DE PAULO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23809,'THAIS VASCONCELOS BATISTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (20894,'THELMA PIGNATARO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757138,'THEO DUARTE DA COSTA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5753543,'ULISSES BORGES SOUTO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5760170,'VALDEMIR PRAXEDES DA SILVA NETO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5754347,'VALDI DE LIMA JUNIOR')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (34240,'VALERIA LAZARO DE CARVALHO')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5758780,'VANESSA GIACCHINI')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5757810,'VIRGINIA MARIA CAVALARI HENRIQUES')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755581,'VIVIANE KLEIN')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (37428,'VLADIMIR DA ROCHA FRANCA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (23198,'WASHINGTON JOSE DE SOUSA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752875,'WILMA MARIA DA COSTA MEDEIROS')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5752154,'WOUBER HÉRICKSON DE BRITO VIEIRA')")
cursor.execute("INSERT INTO COORDENADOR (ID_COORDENADOR,NOME_COORDENADOR) VALUES (5755561,'ZORAIDE SOUZA PESSOA')")

In [14]:
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000002,'ADMINISTRAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000004,'ADMINISTRAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (15315770,'ADMINISTRAÇÃO PÚBLICA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94598200,'ANÁLISE E DESENVOLVIMENTO DE SISTEMAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123041053,'ANÁLISES CLÍNICAS E MEDICAMENTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5049081,'ANDRÉ DE MATTOS MARQUES','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123907274,'APERFEIÇOAMENTO EM CURRÍCULO E PRÁTICAS NA EDUCAÇÃO INFANTIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130818692,'APERFEIÇOAMENTO EM EDUCAÇÃO, POBREZA E DESIGUALDADE SOCIAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98400995,'APERFEIÇOAMENTO EM ELETROENCEFALOGRAFIA BÁSICA  E CLÍNICA PARA RESIDÊNCIA MÉDICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99582905,'APERFEIÇOAMENTO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90723724,'APERFEIÇOAMENTO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134493666,'APERFEIÇOAMENTO EM ENDODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135860936,'APERFEIÇOAMENTO EM ENSINO-APRENDIZAGEM DE PORTUGUÊS COMO LÍNGUA ESTRANGEIRA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124880396,'APERFEIÇOAMENTO EM FORMAÇÃO PEDAGÓGICA TUTORES E PRECEPTORES DA RESID. EM SAÚDE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124895528,'APERFEIÇOAMENTO EM GESTÃO DE POLÍTICA DE DST AIDS HEPATITES VIRAIS E TUBERCULOSE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130027665,'APERFEIÇOAMENTO EM LINGUAGEM TEATRAL: TEATRO DE ANIMAÇÃO NA EDUCAÇÃO DA INFÂNCIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135650946,'APERFEIÇOAMENTO EM LITERATURA INFANTIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (92843489,'APERFEIÇOAMENTO EM PLANEJAMENTO, CRIAÇÃO E MANUTENÇÃO DE REPOSITÓRIOS DIGITAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98641137,'APERFEIÇOAMENTO EM PRÓTESE SOBRE IMPLANTES','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124922102,'APERFEIÇOAMENTO EM REABILITAÇÃO ORAL AVANÇADA EM PRÓTESE SOBRE IMPLANTE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117438135,'APERFEIÇOAMENTO EM SAÚDE DA FAMÍLIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000005,'ARQUITETURA E URBANISMO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000123,'ARTES VISUAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99413191,'ATENDIMENTO EDUCACIONAL ESPECIALIZADO NA PERSPECTIVA DA EDUCAÇÃO INCLUSIVA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126946116,'AUDITORIA EM SAÚDE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97605099,'AVALIAÇÃO E INTERVENÇÃO FISIOTERAPÊUTICA NA ÁREA MATERNO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9291230,'Avaliação psicológica da personalidade','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95739909,'BASES FISIOLÓGICAS PARA AVALIAÇÃO E PRESCRIÇÃO DE EXERCÍCIOS FÍSICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000006,'BIBLIOTECONOMIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100097561,'BIOLOGIA MOLECULAR - DIAGNOSTICO MOLECULAR DE DOENCAS HUMANAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000122,'BIOMEDICINA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000013,'CIÊNCIA DA COMPUTAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6633741,'CIÊNCIAS ATUARIAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635035,'CIÊNCIAS BIOLÓGICAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9295710,'CIÊNCIAS BIOLÓGICAS','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000009,'CIÊNCIAS BIOLÓGICAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000012,'CIÊNCIAS CONTÁBEIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000011,'CIÊNCIAS CONTÁBEIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000014,'CIÊNCIAS ECONÔMICAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10320810,'CIÊNCIAS E TECNOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000015,'CIÊNCIAS SOCIAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (102191189,'CIÊNCIAS SOCIAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635038,'CIÊNCIAS SOCIAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2163123,'CLINICA MEDICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51497566,'COMUNICAÇÃO E EDUCAÇÃO','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136155633,'COMUNICAÇÃO E EDUCAÇÃO','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000016,'COMUNICAÇÃO SOCIAL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119512361,'COMUNICAÇÃO SOCIAL - AUDIOVISUAL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118834827,'COMUNICAÇÃO SOCIAL- PUBLICIDADE E PROPAGANDA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6633740,'CURSO DE APERFEIÇOAMENTO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51003665,'CURSO DE APERFEIÇOAMENTO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115828700,'CURSO DE APERFEIÇOAMENTO SOBRE GESTÃO DA POLÍTICA EM DST, AIDS, HEPATITES VIRAIS','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87094038,'CURSO DE CONVERSAÇÃO EM LÍNGUA ALEMÃ','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133458885,'CURSO DE CONVERSAÇÃO EM LÍNGUA BRASILEIRA DE SINAIS','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87093989,'CURSO DE CONVERSAÇÃO EM LÍNGUA ESPANHOLA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980267,'CURSO DE CONVERSAÇÃO EM LÍNGUA FRANCESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87093970,'CURSO DE CONVERSAÇÃO EM LÍNGUA INGLESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86981390,'Curso de Conversação em Língua Japonesa','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87093990,'CURSO DE CONVERSAÇÃO EM LÍNGUA PORTUGUESA PARA ESTRANGEIROS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4711440,'CURSO DE  ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3161570,'CURSO DE ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2527490,'CURSO DE ESPECIALIZAÇÃO EM AUDITORIA E CONTROLE INTERNO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1080250,'CURSO DE ESPECIALIZAÇÃO EM AUDITORIA E PERÍCIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3179270,'CURSO DE ESPECIALIZAÇÃO EM CIÊNCIAS MORFOLÓGICAS - INTERDISCIPLINARIDADE NO ENSI','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (8234990,'CURSO DE ESPECIALIZAÇÃO EM CONTROLADORIA PARA GESTÃO PÚBLICA E TERCEIRO SETOR','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1085930,'CURSO DE ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSUAL CIVIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6165401,'CURSO DE ESPECIALIZAÇÃO EM EDUCAÇÃO E SUSTENTABILIDADE AMBIENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7008210,'CURSO DE ESPECIALIZAÇÃO EM EDUCAÇÃO E SUSTENTABILIDADE AMBIENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7612820,'Curso de Especialização em Elaboração e Avaliação de Projetos Turísticos','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1308470,'CURSO DE ESPECIALIZAÇÃO EM ENDODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124758134,'CURSO DE ESPECIALIZAÇÃO EM ENFERMAGEM OBSTÉTRICA III - REDE CEGONHA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124522223,'CURSO DE ESPECIALIZAÇÃO EM ENFERMAGEM OBSTÉTRICA - REDE CEGONHA III','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7634140,'CURSO DE ESPECIALIZAÇÃO EM ENSINO DE EDUCAÇÃO FÍSICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (906290,'Curso de Especialização em Epidemiologia para Serviços Hospitalares','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5622610,'CURSO DE ESPECIALIZAÇÃO EM FINANÇAS E CONTROLADORIA PARA NEGÓCIOS EMPRESARIAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (13486010,'CURSO DE ESPECIALIZAÇÃO EM GEOPROCESAMENTO E CARTOGRAFIA DIGITAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1152410,'CURSO DE ESPECIALIZAÇÃO EM GEOPROCESSAMENTO E CARTOGRAFIA DIGITAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2665390,'CURSO DE ESPECIALIZAÇÃO EM GEOPROCESSAMENTO E CARTOGRAFIA DIGITAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5505370,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO DA QUALIDADE EM SERVIÇOS DE SAÚDE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1384330,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO DE HOSPITAIS PÚBLICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (899332,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO DE HOSPITAIS PÚBLICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2558520,'Curso de Especialização em Gestão de Qualidade de Vida e Saúde no Trabalho','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129738043,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO EM SAÚDE / MODALIDADE À DISTÂNCIA - UAB','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2365305,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (908980,'CURSO DE ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA EM MARKETING','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123432493,'CURSO DE ESPECIALIZAÇÃO EM LIBRAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9299260,'CURSO DE ESPECIALIZAÇÃO EM LÍNGUA PORTUGUESA E ENSINO - CELPE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2669130,'CURSO DE ESPECIALIZAÇÃO EM LÍNGUA PORTUGUESA: LEITURA, PRODUÇÃO DE TEXTOS E GRAM','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5405880,'CURSO DE ESPECIALIZAÇÃO EM MATEMÁTICA DO ENSINO FUNDAMENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4170990,'CURSO DE ESPECIALIZAÇÃO EM ORTODONTIA E ORTOPEDIA FACIAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (905860,'CURSO DE ESPECIALIZAÇÃO EM PSICOPEDAGOGIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (20214620,'CURSO DE ESPECIALIZAÇÃO EM QUALIDADE DE VIDA E SAÚDE NO TRABALHO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (912010,'CURSO DE ESPECIALIZAÇÃO EM VIGILÂNCIA EPIDEMIOLÓGICA DAS DOENÇAS TRANSMISSÍVEIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120187299,'CURSO DE ESPECIALIZAÇÃO TÉCNICA EM INSTRUMENTAÇÃO CIRÚRGICA','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2252975,'CURSO DE ESPECILIZAÇÃO EM PERFORMANCE ORQUESTRAL EM REGÊNCIA E VIOLONCELO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (13085351,'Curso de férias - Noções Básicas de Implantodontia','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2247254,'CURSO DE FORMAÇÃO DE PROGRAMADORES DA METRÓPOLE DIGITAL','ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11521680,'CURSO DE FORMAÇÃO INICIAL E CONTINUADA EM CANTO CORAL - PROEJA','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2818700,'CURSO DE FORMAÇÃO INICIAL E CONTINUADA EM VIOLÃO POPULAR - PROEJA','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980604,'CURSO DE LÍNGUA ALEMÃ - BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980718,'CURSO DE LÍNGUA ALEMÃ PARA FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (112718836,'CURSO DE LÍNGUA BRASILEIRA DE SINAIS (LIBRAS)','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116158046,'CURSO DE LÍNGUA E CULTURA HEBRAICA - BÁSICO','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980317,'CURSO DE LÍNGUA ESPANHOLA - BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980325,'CURSO DE LÍNGUA ESPANHOLA PARA FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86979859,'CURSO DE LÍNGUA FRANCESA  BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86979912,'CURSO DE LÍNGUA FRANCESA PARA FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119249870,'CURSO DE LÍNGUA GREGA CLÁSSICA','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119250014,'CURSO DE LÍNGUA GREGA MODERNA','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86979169,'CURSO DE LÍNGUA INGLESA  BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86979728,'CURSO DE LÍNGUA INGLESA PARA FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121650822,'CURSO DE LÍNGUA INGLESA  SINFO','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86981150,'CURSO DE LÍNGUA JAPONESA - BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86981352,'CURSO DE LÍNGUA JAPONESA PARA FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119248706,'CURSO DE LÍNGUA LATINA','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980533,'CURSO DE LÍNGUA PORTUGUESA PARA ESTRANGEIROS COM FINS ACADÊMICOS','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96690272,'CURSO DE PLURILINGUISMO E INTERCULTURALIDADE: FRANCÊS, ESPANHOL, ITALI','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86980524,'CURSO DE PORTUGUÊS LÍNGUA ESTRANGEIRA - BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99449969,'CURSO DE PORTUGUÊS LÍNGUA ESTRANGEIRA - BÁSICO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129346781,'CURSO DE PÓS-GRADUAÇÃO LATO SENSU EM GESTÃO MUNICIPAL - MODALIDADE A DISTÂNCIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129614610,'CURSO DE PÓS-GRADUAÇÃO LATO SENSU EM GESTÃO PÚBLICA MUNICIPAL DISTÂNCIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129593359,'CURSO DE PÓS-GRADUAÇÃO LATO SENSU EM GESTÃO PÚBLICA MUNICIPAL - EAD','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134940269,'CURSO DE PRÁTICA DE LEITURA E ESCRITA DO PORTUGUÊS PARA ESTRANGEIROS','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119186158,'CURSO DE PRONÚNCIA EM LÍNGUA INGLESA','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135192457,'CURSO EM LITERATURA INFANTIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1101030,'CURSO ESPECIALIZAÇÃO EM SAÚDE COLETIVA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134965261,'CURSO PREPARATÓRIO CELPE-BRAS [PCB]','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88353771,'CURSO TÉCNICO DA METRÓPOLE DIGITAL','ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96054058,'CURSO TÉCNICO DA METRÓPOLE DIGITAL','ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1086001,'CURSO TÉCNICO EM ENFERMAGEM','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1086003,'CURSO TÉCNICO EM ENFERMAGEM','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1086002,'CURSO TÉCNICO EM ENFERMAGEM','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115285617,'CURSO TÉCNICO EM ESTÉTICA','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126501266,'CURSO TÉCNICO EM ESTÉTICA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125823462,'CURSO TÉCNICO EM GERÊNCIA DE SAÚDE','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108837709,'CURSO TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104411100,'CURSO TÉCNICO EM MASSOTERAPIA','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2624567,'CURSO TÉCNICO EM PRÁTICAS INTEGRATIVAS E COMPLEMENTARES EM SAÚDE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10598020,'CURSO TÉCNICO EM REGISTROS E INFORMAÇÕES EM SAÚDE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100892419,'CURSO TÉCNICO EM SEGURANÇA DO TRABALHO','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7264330,'DANÇA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106619252,'DDF','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2894320,'DESENVOLVIMENTO GERENCIAL DOS SERVIDORES DO TRIBUNAL DE CONTAS DO ESTADO DO RN','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6992521,'DESIGN','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (122921357,'DESIGN DE INOVAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000018,'DIREITO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000019,'DIREITO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130598333,'DIREITO ADMINISTRATIVO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130602745,'DIREITO ADMINISTRATIVO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130399494,'DIREITO ADMINISTRATIVO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120645059,'DIREITO CIVIL E PROCESSUAL CIVIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120202645,'DIREITO LATO SENSU','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2211049,'DIREITO, MEIO AMBIENTE E DESENVOLVIMENTO SUSTENTÁVEL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117508551,'DIREITO PROCESSUAL CIVIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113661131,'DOCÊNCIA NA EDUCAÇÃO INFANTIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315765,'DOUTORADO EM ADMINISTRAÇÃO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108227148,'DOUTORADO EM ANTROPOLOGIA SOCIAL','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315767,'DOUTORADO EM ARQUITETURA E URBANISMO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115845494,'DOUTORADO EM BIOINFORMÁTICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9285380,'DOUTORADO EM BIOQUÍMICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315788,'DOUTORADO EM BIOTECNOLOGIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315743,'DOUTORADO EM CIÊNCIA DA COMPUTAÇÃO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315771,'DOUTORADO EM CIÊNCIA E ENGENHARIA DE MATERIAIS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315787,'DOUTORADO EM CIÊNCIA E ENGENHARIA DE PETRÓLEO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17975012,'DOUTORADO EM CIÊNCIAS CLIMÁTICAS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315774,'DOUTORADO EM CIÊNCIAS DA SAÚDE','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110710810,'DOUTORADO EM CIÊNCIAS FARMACÊUTICAS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130260440,'DOUTORADO EM CIÊNCIAS ODONTOLÓGICAS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315777,'DOUTORADO EM CIÊNCIAS SOCIAIS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132958656,'DOUTORADO EM DEMOGRAFIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9300591,'DOUTORADO EM DESENVOLVIMENTO E INOVAÇÃO TECNOLÓGICA EM MEDICAMENTOS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (19018260,'DOUTORADO EM DESENVOLVIMENTO E MEIO AMBIENTE','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9300592,'DOUTORADO EM ECOLOGIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315746,'DOUTORADO EM EDUCAÇÃO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50903134,'DOUTORADO EM ENFERMAGEM NA ATENÇÃO À SAÚDE','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315750,'DOUTORADO EM ENGENHARIA ELÉTRICA E DE COMPUTAÇÃO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315752,'DOUTORADO EM ENGENHARIA MECÂNICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315754,'DOUTORADO EM ENGENHARIA QUÍMICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108847150,'DOUTORADO EM ENSINO DE CIÊNCIAS E MATEMÁTICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315758,'DOUTORADO EM ESTUDOS DA LINGUAGEM','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115789633,'DOUTORADO EM ESTUDOS DA MIDIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132958781,'DOUTORADO EM ESTUDOS URBANOS E REGIONAIS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115789618,'DOUTORADO EM FILOSOFIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315760,'DOUTORADO EM FILOSOFIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315728,'DOUTORADO EM FÍSICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95726200,'DOUTORADO EM FISIOTERAPIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315763,'DOUTORADO EM GEODINÂMICA E GEOFÍSICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95953799,'DOUTORADO EM GEOGRAFIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133179605,'DOUTORADO EM HISTÓRIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98462514,'DOUTORADO EM NANOTECNOLOGIA FARMACÊUTICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17565631,'DOUTORADO EM NEUROCIÊNCIAS','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315734,'DOUTORADO EM PATOLOGIA ORAL','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315736,'DOUTORADO EM PSICOBIOLOGIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17275730,'DOUTORADO EM PSICOLOGIA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315740,'DOUTORADO EM QUÍMICA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84739891,'DOUTORADO EM SAÚDE COLETIVA','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117229950,'DOUTORADO EM SERVIÇO SOCIAL','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96146345,'DOUTORADO EM SISTEMÁTICA E EVOLUÇÃO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104910434,'DOUTORADO EM TURISMO','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000121,'ECOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127242379,'EDUCAÇÃO A DISTÂNCIA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101012784,'EDUCAÇÃO EM DIREITOS HUMANOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85436676,'EDUCAÇÃO FÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000022,'EDUCAÇÃO FÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50688664,'EDUCAÇÃO FÍSICA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635041,'EDUCAÇÃO FÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130816499,'EDUCAÇÃO POBREZA E DESIGUALDADE SOCIAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123036166,'EEE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (13027790,'ENFERMAGEM','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000023,'ENFERMAGEM','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (979300,'ENFERMAGEM  EM SAÚDE DA  CRIANÇA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124763322,'ENFERMAGEM OBSTÉTRICA III - REDE CEGONHA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2576632,'ENGENHARIA AGRONÔMICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85322571,'ENGENHARIA AMBIENTAL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85341136,'ENGENHARIA BIOMÉDICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000025,'ENGENHARIA CIVIL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000150,'ENGENHARIA DE ALIMENTOS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2576623,'ENGENHARIA DE AQUICULTURA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000026,'ENGENHARIA DE COMPUTAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000027,'ENGENHARIA DE MATERIAIS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2071220,'ENGENHARIA DE PETRÓLEO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000029,'ENGENHARIA DE PRODUÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100339822,'ENGENHARIA DE SEGURANÇA DO TRABALHO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17848940,'ENGENHARIA DE SOFTWARE','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85322080,'ENGENHARIA DE TELECOMUNICAÇÕES','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000030,'ENGENHARIA ELÉTRICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (8068230,'ENGENHARIA FLORESTAL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000031,'ENGENHARIA MECÂNICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85437055,'ENGENHARIA MECATRÔNICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000032,'ENGENHARIA QUÍMICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000033,'ENGENHARIA TÊXTIL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16685330,'ENSINO-APRENDIZAGEM DE INGLÊS COMO LÍNGUA ESTRANGEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2667700,'ENSINO-APRENDIZAGEM DE LÍNGUA PORTUGUESA:ASPECTOS TEÓRICOS E PRÁTICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (122659999,'ENSINO/APRENDIZAGEM DE PORTUGUÊS LÍNGUA NÃO MATERNA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123345257,'ENSINO/APRENDIZAGEM DE PORTUGUÊS LÍNGUA NÃO MATERNA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1398140,'ENSINO DE ARTE NA ESCOLA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6182540,'ENSINO DE ARTE NA ESCOLA COM APROFUNDAMENTO E ARTES VISUAIS, DANÇA, MÚSICA E TEA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130050604,'ENSINO DE GEOGRAFIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89444585,'ENSINO DE LÍNGUA PORTUGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135294364,'ENSINO DE MUSICA EM MULTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135288404,'ENSINO DE MUSICA EM MULTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123354684,'ENSINO DE MÚSICA EM MÚLTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (122072767,'ENSINO DE MÚSICA EM MÚLTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121636855,'ENSINO DE MÚSICA EM MÚLTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103978381,'ENSINO FUNDAMENTAL','ATIVO','FUNDAMENTAL','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1998296,'ENSINO INFANTIL','ATIVO','INFANTIL','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89232622,'ENSINO MEDIO','ATIVO','MÉDIO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134583967,'ESPEC. EM GESTÃO EM MICRO E PEQUENAS EMPRESAS COM FOCO NAS NORMAS INTERNACIONAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121430691,'ESPEC FISIOLOGIA DO EXERCÍCIO:BASES TEÓRICAS PRÁTICAS FITNESS E PERSONAL TRAINER','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2628340,'Especializaão em Avaliação Psicológica','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51277174,'ESPECIALIZAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126255120,'ESPECIALIZAÇÃO APREND. COLABORATIVA E INTERCULTURAL DE L. PORTUGUESA POR SURDOS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132080053,'ESPECIALIZAÇÃO EM AAA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126907290,'ESPECIALIZAÇÃO EM ADMINISTRAÇÃO HOTELEIRA, BARES E RESTAURANTES','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115295700,'ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (137488470,'ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (137496442,'ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA - TURMA II','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (138139175,'ESPECIALIZAÇÃO EM ALFABETIZAÇÃO E NEUROCIÊNCIAS: INTERFACES NA EDUCAÇÃO INTEGRAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127791717,'ESPECIALIZAÇÃO EM ALFABETIZAÇÃO E NEUROCIÊNCIAS: INTERFACES NA EDUCAÇÃO INTEGRAL','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106245618,'ESPECIALIZAÇÃO EM ALFABETIZAÇÃO E NEUROCIÊNCIAS: INTERFACES NA EDUCAÇÃO INTEGRAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106660409,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118076413,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS E MEDICAMENTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130618653,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS E MEDICAMENTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (131890753,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS E TOXICOLÓGICAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4742984,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS E TOXICOLÓGICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97262498,'ESPECIALIZAÇÃO EM ANÁLISES CLÍNICAS E TOXICOLÓGICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124347948,'ESPECIALIZAÇÃO EM AROMATERAPIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115402519,'ESPECIALIZAÇÃO EM ARQUEOLOGIA DO NORDESTE BRASILEIRO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95771235,'ESPECIALIZAÇÃO EM ARQUEOLOGIA DO NORDESTE BRASILEIRO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96076672,'ESPECIALIZAÇÃO EM ARQUITETURA DE NUVEM','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4878604,'ESPECIALIZAÇÃO EM ARTETERAPIA E EDUCAÇÃO DO SER','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3578460,'ESPECIALIZAÇÃO EM ARTETERAPIA E EDUCAÇÃO DO SER','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (114762632,'ESPECIALIZAÇÃO EM ATENÇÃO BÁSICA COM ÊNFASE NA ESTRATÉGIA SAÚDE DA FAMÍLIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101359674,'ESPECIALIZAÇÃO EM AUDIOLOGIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130422199,'ESPECIALIZAÇÃO EM AUDITORIA E CONTROLADORIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129767318,'ESPECIALIZAÇÃO EM AUDITORIA E CONTROLADORIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97598424,'ESPECIALIZAÇÃO EM AUDITORIA E CONTROLADORIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116474785,'ESPECIALIZAÇÃO EM AUDITORIA E CONTROLADORIA CONTÁBIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87272466,'ESPECIALIZAÇÃO EM AUDITORIA E CONTROLES','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127931091,'ESPECIALIZAÇÃO EM AUDITORIA EM SAÚDE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107259247,'ESPECIALIZAÇÃO EM AUDITORIA E PERÍCIA CONTÁBIL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89558214,'ESPECIALIZAÇÃO EM AUDITORIA GOVERNAMENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105643188,'ESPECIALIZAÇÃO EM AUTOMAÇÃO DE PROCESSOS INDUSTRIAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91384307,'ESPECIALIZAÇÃO EM AUTOMAÇÃO DE PROCESSOS INDUSTRIAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134262252,'ESPECIALIZAÇÃO EM BACTERIOLOGIA E MICOLOGIA MÉDICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95740299,'ESPECIALIZAÇÃO EM BASES FISIOLÓGICAS PARA AVAL. E PRESCRIÇÃO DE EXERC. FÍSICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50659936,'ESPECIALIZAÇÃO EM BASES FISIOL PARA AVALIAÇÃO E PRESCRIÇÃO DE EXERCÍCIOS FÍSICOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118173593,'ESPECIALIZAÇÃO EM BIG DATA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125323179,'ESPECIALIZAÇÃO EM BIOLOGIA MOLECULAR APLICADA À SAÚDE HUMANA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105720615,'ESPECIALIZAÇÃO EM BIOLOGIA MOLECULAR APLICADA À SAÚDE HUMANA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134010679,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133960235,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133952812,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133999743,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133957713,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133995445,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133963580,'ESPECIALIZAÇÃO EM BIOMECÂNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95197392,'ESPECIALIZAÇÃO EM BIOTERISMO E EXPERIMENTAÇÃO COM ANIMAIS','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (138156167,'ESPECIALIZAÇÃO EM CIÊNCIA DE DADOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98708953,'ESPECIALIZAÇÃO EM CIÊNCIAS ATUARIAIS E DEMOGRAFIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84903718,'ESPECIALIZAÇÃO EM CIÊNCIAS MORFOLÓGICAS APLICADAS A SAÚDE E AO AMBIENTE','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99697792,'ESPECIALIZAÇÃO EM CINEMA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115259542,'ESPECIALIZAÇÃO EM CINEMA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136737916,'ESPECIALIZAÇÃO EM COMPOSIÇÃO MUSICAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128388032,'ESPECIALIZAÇÃO EM CONSCIÊNCIA CORPORAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90334354,'ESPECIALIZAÇÃO EM CONSCIÊNCIA CORPORAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85078961,'ESPECIALIZAÇÃO EM CONTROLADORIA GOVERNAMENTAL','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (92587939,'ESPECIALIZAÇÃO EM COORDENAÇÃO PEDAGÓGICA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17519780,'ESPECIALIZAÇÃO EM CORPO, SAÚDE E SOCIEDADE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5173860,'ESPECIALIZAÇÃO EM CRIANÇA E ADOLESCENTE: ASPECTOS LEGAIS E SOCIAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121637007,'ESPECIALIZAÇÃO EM CUIDADOS E PRÁTICAS INTEGRATIVAS EM SAÚDE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120050084,'ESPECIALIZAÇÃO EM DANÇA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127547347,'ESPECIALIZAÇÃO EM DENTÍSTICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101023063,'ESPECIALIZAÇÃO EM DENTÍSTICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134355614,'ESPECIALIZAÇÃO EM DERMATOLOGIA EM ENFERMAGEM','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115769184,'ESPECIALIZAÇÃO EM DESENVOLVIMENTO DE APLICAÇÕES PARA DISPOSITIVOS MÓVEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100300443,'ESPECIALIZAÇÃO EM DESENVOLVIMENTO DE SISTEMAS UFRN','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116365925,'ESPECIALIZAÇÃO EM DESENVOLVIMENTO DE SOFTWARE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107751989,'ESPECIALIZAÇÃO EM DESENVOLVIMENTO PARA DISPOSITIVOS MÓVEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126860757,'ESPECIALIZAÇÃO EM DESENVOLVIMENTO PARA DISPOSITIVOS MÓVEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118720334,'ESPECIALIZAÇÃO EM DESIGN DE INOVAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85075974,'ESPECIALIZAÇÃO EM DESIGN GRÁFICO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120207379,'ESPECIALIZAÇÃO EM DIREITO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115114859,'ESPECIALIZAÇÃO EM DIREITO ADMINISTRATIVO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130606851,'ESPECIALIZAÇÃO EM DIREITO ADMINISTRATIVO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91310418,'ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSO CIVIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120655249,'ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSUAL CIVIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107590635,'ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSUAL CIVIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129678016,'ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSUAL CIVIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90239418,'ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSUAL CIVIL - CURSO III','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98721418,'ESPECIALIZAÇÃO EM DIREITO CONSTITUCIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85378701,'ESPECIALIZAÇÃO EM DIREITO CONSTITUCIONAL - CURSO IV','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132991240,'ESPECIALIZAÇÃO EM DIREITO DA INOVAÇÃO TECNOLÓGICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100365235,'ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109727524,'ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5032219,'ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134776267,'ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90296038,'ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL - CURSO III','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100368839,'ESPECIALIZAÇÃO  EM DIREITO INTERNACIONAL - CURSO IV','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107607888,'ESPECIALIZAÇÃO EM DIREITO TRIBUTÁRIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95713894,'ESPECIALIZAÇÃO EM DIREITO TRIBUTÁRIO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128876049,'ESPECIALIZAÇÃO EM DIREITO TRIBUTÁRIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2821199,'ESPECIALIZAÇÃO EM DIREITO TRIBUTÁRIO - CURSO IV','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91861738,'ESPECIALIZAÇÃO EM DOCÊNCIA NA EDUCAÇÃO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105104013,'ESPECIALIZAÇÃO EM DOCÊNCIA NA EDUCAÇÃO INFANTIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98042783,'ESPECIALIZAÇÃO EM DOCÊNCIA NA EDUCAÇÃO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96435811,'ESPECIALIZAÇÃO EM ECONOMIA DO SETOR PÚBLICO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100183927,'ESPECIALIZAÇÃO EM ECONOMIA DO SETOR PÚBLICO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96520440,'ESPECIALIZAÇÃO EM ECONOMIA SOLIDÁRIA E DESENVOLVIMENTO TERRITORIAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5277960,'ESPECIALIZAÇÃO EM ECONOMIA SOLIDÁRIA E DESENVOLVIMENTO TERRITORIAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100115448,'ESPECIALIZAÇÃO EM EDUCAÇÃO AMBIENTAL PARA ESCOLAS SUSTENTÁVEIS','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88359602,'ESPECIALIZAÇÃO EM EDUCAÇÃO E LINGUAGEM','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101013233,'ESPECIALIZAÇÃO EM EDUCAÇÃO EM DIREITOS HUMANOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107183983,'ESPECIALIZAÇÃO EM EDUCAÇÃO EM ESPAÇOS DE PRIVAÇÃO DE LIBERDADE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (137776743,'ESPECIALIZAÇÃO EM EDUCAÇÃO ESPECIAL NA EDUCAÇÃO BÁSICA: O AEE EM FOCO','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95796201,'ESPECIALIZAÇÃO EM EDUCAÇÃO FÍSICA ESCOLAR','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2249855,'ESPECIALIZAÇÃO EM EDUCAÇÃO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98461888,'ESPECIALIZAÇÃO EM EDUCAÇÃO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2062116,'ESPECIALIZAÇÃO EM EDUCAÇÃO INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89918597,'ESPECIALIZAÇÃO EM EDUCAÇÃO MUSICAL NA EDUCAÇÃO BÁSICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3410226,'ESPECIALIZAÇÃO EM EDUCAÇÃO MUSICAL NA EDUCAÇÃO BÁSICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109917488,'ESPECIALIZAÇÃO EM EDUCAÇÃO NA CULTURA DIGITAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108087170,'ESPECIALIZAÇÃO EM EDUCAÇÃO NA CULTURA DIGITAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98759568,'ESPECIALIZAÇÃO EM EDUCAÇÃO, RELIGIÃO E MITO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51004048,'ESPECIALIZAÇÃO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6546980,'ESPECIALIZAÇÃO EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11345120,'ESPECIALIZAÇÃO EM ENDODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95872651,'ESPECIALIZAÇÃO EM ENDODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17975011,'ESPECIALIZAÇÃO EM ENERGIA EÓLICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84696044,'ESPECIALIZAÇÃO EM ENERGIA EÓLICA - CURSO II','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118269716,'ESPECIALIZAÇÃO EM ENFERMAGEM EM NEFROLOGIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128551505,'ESPECIALIZAÇÃO EM ENFERMAGEM EM TERAPIA INTENSIVA NEONATAL E PEDIÁTRICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125694869,'ESPECIALIZAÇÃO EM ENFERMAGEM OBSTÉTRICA - TURMA III - REDE CEGONHA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135222431,'ESPECIALIZAÇÃO EM ENGENHARIA DE NEGÓCIOS NO SETOR DE SUPERMERCADOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117430697,'ESPECIALIZAÇÃO EM ENGENHARIA DE OPERAÇÕES','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (138719355,'ESPECIALIZAÇÃO EM ENGENHARIA DE OPERAÇÕES','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129021225,'ESPECIALIZAÇÃO EM ENGENHARIA DE SEGURANÇA DO TRABALHO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117439917,'ESPECIALIZAÇÃO EM ENGENHARIA DE SEGURANÇA DO TRABALHO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1087370,'ESPECIALIZAÇÃO EM ENGENHARIA E SEGURANÇA DO TRABALHO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117709917,'ESPECIALIZAÇÃO EM ENSINO-APRENDIZAGEM DE INGLÊS COMO LÍNGUA ESTRANGEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93999856,'ESPECIALIZAÇÃO EM ENSINO-APRENDIZAGEM DE INGLÊS COMO LÍNGUA ESTRANGEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91506283,'ESPECIALIZAÇÃO EM ENSINO-APRENDIZAGEM DE INGLÊS COMO LÍNGUA ESTRANGEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101197753,'ESPECIALIZAÇÃO EM ENSINO-APRENDIZAGEM DE LÍNGUA PORTUGUESA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96030942,'ESPECIALIZAÇÃO EM ENSINO DE ARTES NA EDUCAÇÃO BÁSICA: MÚSICA','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50596944,'ESPECIALIZAÇÃO EM ENSINO DE CIÊNCIAS  ANOS FINAIS DO ENSINO FUNDAMENTAL','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2684664,'ESPECIALIZAÇÃO EM ENSINO DE EDUCAÇÃO FÍSICA ESCOLAR','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117478974,'ESPECIALIZAÇÃO EM ENSINO DE ESPANHOL COMO LÍNGUA ESTRANGEIRA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50663976,'ESPECIALIZAÇÃO EM ENSINO DE FILOSOFIA NO ENSINO MÉDIO','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104438498,'ESPECIALIZAÇÃO EM ENSINO DE FILOSOFIA NO ENSINO MÉDIO','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130644624,'ESPECIALIZAÇÃO EM ENSINO DE GEOGRAFIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106836176,'ESPECIALIZAÇÃO EM ENSINO DE LÍNGUAS E CULTURAS HISPÂNICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97989821,'ESPECIALIZAÇÃO EM ENSINO DE LÍNGUAS E CULTURAS HISPÂNICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104463617,'ESPECIALIZAÇÃO EM ENSINO DE MATEMÁTICA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130962291,'ESPECIALIZAÇÃO EM ENSINO DE MATEMÁTICA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135424522,'ESPECIALIZAÇÃO EM ENSINO DE MÚSICA EM MÚLTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123381093,'ESPECIALIZAÇÃO EM ENSINO DE MÚSICA EM MÚLTIPLOS CONTEXTOS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111285585,'ESPECIALIZAÇÃO EM ENSINO DE MÚSICA NA EDUCAÇÃO BÁSICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103878435,'ESPECIALIZAÇÃO EM ENSINO DE PORTUGUÊS E LINGUÍSTICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104439089,'ESPECIALIZAÇÃO EM ENSINO DE SOCIOLOGIA NO ENSINO MÉDIO','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117783900,'ESPECIALIZAÇÃO EM ENSINO E APRENDIZAGEM DE INGLÊS COMO LÍNGUA ESTRANGEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94372864,'ESPECIALIZAÇÃO EM ENSINO E APRENDIZAGEM DE LÍNGUAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127324390,'ESPECIALIZAÇÃO EM EQUIDEOCULTURA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109957345,'ESPECIALIZAÇÃO EM ESTRATÉGIAS LINGUÍSTICO-DISCURSIVAS DE AVALIAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117700770,'ESPECIALIZAÇÃO EM ESTUDOS DA ESCRITA E ENSINO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97258649,'ESPECIALIZAÇÃO EM ESTUDOS SOBRE A LINGUAGEM: TEORIAS E ENSINO (ESTEIO)','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (14172150,'ESPECIALIZAÇÃO EM FARMÁCIA HOSPITALAR COM ÊNFASE EM ONCOLOGIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90275796,'ESPECIALIZAÇÃO EM FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85417248,'ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123686055,'ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129053738,'ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103323466,'ESPECIALIZAÇÃO EM FISIOLOGIA CLÍNICA DO EXERCÍCIO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130093645,'ESPECIALIZAÇÃO EM FISIOLOGIA CLÍNICA DO EXERCÍCIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115839556,'ESPECIALIZAÇÃO EM FISIOLOGIA CLÍNICA DO EXERCÍCIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132254127,'ESPECIALIZAÇÃO EM FISIOLOGIA CLÍNICA DO EXERCÍCIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89971045,'ESPECIALIZAÇÃO EM FISIOTERAPIA CARDIORRESPIRATÓRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17975010,'ESPECIALIZAÇÃO EM FISIOTERAPIA CARDIORRESPIRATÓRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104177648,'ESPECIALIZAÇÃO EM FISIOTERAPIA CARDIORRESPIRATÓRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123701410,'ESPECIALIZAÇÃO EM FISIOTERAPIA CARDIORRESPIRATÓRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97605312,'ESPECIALIZAÇÃO EM FISIOTERAPIA MATERNO-INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125780737,'ESPECIALIZAÇÃO EM FISIOTERAPIA MATERNO-INFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85245427,'ESPECIALIZAÇÃO EM FISIOTERAPIA TRAUMATO-ORTOPÉDICA E DESPORTIVA - TURMA I','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97260682,'ESPECIALIZAÇÃO EM FISIOTERAPIA TRAUMATO-ORTOPÉDICA E DESPORTIVA - TURMA II','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106396861,'ESPECIALIZAÇÃO EM FISIOTERAPIA TRAUMATO-ORTOPÉDICA E DESPORTIVA - TURMA III','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120250336,'ESPECIALIZAÇÃO EM FISIOTERAPIA TRAUMATO-ORTOPÉDICA E DESPORTIVA - TURMA IV','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132295567,'ESPECIALIZAÇÃO EM FISIOTERAPIA TRAUMATO-ORTOPÉDICA E ESPORTIVA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127903565,'ESPECIALIZAÇÃO EM FORMAÇÃO DE PROFESSORES DA ÁREA DA SAÚDE','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126152863,'ESPECIALIZAÇÃO EM FRUTICULTURA IRRIGADA','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130946437,'ESPECIALIZAÇÃO EM FUNDAMENTOS LINGUÍSTICOS PARA O ENSINO DA LEITURA E DA ESCRITA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117829636,'ESPECIALIZAÇÃO EM FUNDAMENTOS LINGUÍSTICOS PARA O ENSINO DA LEITURA E DA ESCRITA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103733017,'ESPECIALIZAÇÃO EM FUNDAMENTOS LINGUÍSTICOS PARA O ENSINO DA LEITURA E DA ESCRITA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118948921,'ESPECIALIZAÇÃO EM GEOPROCESSAMENTO E ANÁLISE AMBIENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106806058,'ESPECIALIZAÇÃO EM GEOPROCESSAMENTO E CARTOGRAFIA DIGITAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88414039,'ESPECIALIZAÇÃO EM GEOPROCESSAMENTO E CARTOGRAFIA DIGITAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121224303,'ESPECIALIZAÇÃO EM GERONTOLOGIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133839306,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2274700,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (131154970,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95825620,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL COSTEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97911871,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL E DESENVOLVIMENTO SUSTENTÁVEL','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (15315771,'ESPECIALIZAÇÃO EM GESTÃO AMBIENTAL URBANA - CURSO III','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100665439,'ESPECIALIZAÇÃO EM GESTÃO DA ASSISTÊNCIA FARMACÊUTICA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (122791158,'ESPECIALIZAÇÃO EM GESTÃO DA QUALIDADE NA ABORDAGEM SEIS SIGMA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110721137,'ESPECIALIZAÇÃO EM GESTÃO DA TECNOLOGIA DA INFORMAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90343896,'ESPECIALIZAÇÃO EM GESTÃO DA TECNOLOGIA DA INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88376323,'ESPECIALIZAÇÃO EM GESTÃO DE EVENTOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1213760,'ESPECIALIZAÇÃO EM GESTÃO DE PESSOAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115828584,'ESPECIALIZAÇÃO EM GESTÃO DE POLÍTICA DE DST, AIDS HEPATITES VIRAIS E TUBERCULOSE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98789276,'ESPECIALIZAÇÃO EM GESTÃO DE POLÍTICAS PÚBLICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121642348,'ESPECIALIZAÇÃO EM GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136580718,'ESPECIALIZAÇÃO EM GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117160376,'ESPECIALIZAÇÃO EM GESTÃO DE PROJETOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104720950,'ESPECIALIZAÇÃO EM GESTÃO DE PROJETOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100350606,'ESPECIALIZAÇÃO EM GESTÃO DE TI','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130729753,'ESPECIALIZAÇÃO EM GESTÃO DINÂMICA DE PROJETOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113505772,'ESPECIALIZAÇÃO EM GESTÃO DOCUMENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127034870,'ESPECIALIZAÇÃO EM GESTÃO DOCUMENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126778707,'ESPECIALIZAÇÃO EM GESTÃO DO TRABALHO E DA EDUCAÇÃO NA SAÚDE','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104767988,'ESPECIALIZAÇÃO EM GESTÃO DO TRABALHO E DA EDUCAÇÃO NA SAÚDE','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91779180,'ESPECIALIZAÇÃO EM GESTÃO DO TRABALHO E DA EDUCAÇÃO NA SAÚDE','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91501784,'ESPECIALIZAÇÃO EM GESTÃO EM SAÚDE','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129869375,'ESPECIALIZAÇÃO EM GESTÃO EM SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (975160,'ESPECIALIZAÇÃO EM GESTÃO ESCOLAR','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11642560,'ESPECIALIZAÇÃO EM GESTÃO ESCOLAR','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106519681,'ESPECIALIZAÇÃO EM GESTÃO ESCOLAR','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2236617,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98732812,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115749236,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE CUSTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120660077,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104367740,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120896111,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96980770,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126991428,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE PESSOAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94643896,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE PESSOAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95236906,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE SISTEMAS DE INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109866665,'ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE SISTEMAS DE INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98732703,'ESPECIALIZAÇÃO EM GESTÃO FINANCEIRA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93657119,'ESPECIALIZAÇÃO EM GESTÃO INDUSTRIAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107074853,'ESPECIALIZAÇÃO EM GESTÃO INTEGRADA DE CIDADES E DESENV DE PROJETOS SÓCIO-URBANOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16431542,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129304523,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133472833,'ESPECIALIZAÇÃO EM GESTÃO PUBLICA, AUDITORIA E CONTROLADORIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95590562,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA MUNICIPAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16431540,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA MUNICIPAL','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129763788,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA MUNICIPAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90409884,'ESPECIALIZAÇÃO EM GESTÃO PÚBLICA PARA MINISTÉRIO PÚBLICO DO RIO GRANDE DO NORTE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11381370,'ESPECIALIZAÇÃO EM GESTÃO UNIVERSITÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4847468,'ESPECIALIZAÇÃO EM GESTÃO UNIVERSITÁRIA - CURSO II','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99266675,'ESPECIALIZAÇÃO EM GP','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136798654,'ESPECIALIZAÇÃO EM HEMATOLOGIA LABORATORIAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87357281,'ESPECIALIZAÇÃO EM HISTÓRIA DO BRASIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123983886,'ESPECIALIZAÇÃO EM HISTÓRIA DOS SERTÕES','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103333394,'ESPECIALIZAÇÃO EM HISTÓRIA E CULTURA AFRICANA E AFRO-BRASILEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100640964,'ESPECIALIZAÇÃO EM HISTÓRIA E CULTURA AFRO-BRASILEIRA E AFRICANA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130522731,'ESPECIALIZAÇÃO EM IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110468980,'ESPECIALIZAÇÃO EM IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124986610,'ESPECIALIZAÇÃO EM IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103611582,'ESPECIALIZAÇÃO EM INFORMÁTICA EM SAÚDE','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132256339,'ESPECIALIZAÇÃO EM INFORMÁTICA NA SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (99065732,'ESPECIALIZAÇÃO EM INTEGRAÇÃO DA EDUCAÇÃO PROFISSIONAL E DA EJA: PROEJA','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97936584,'ESPECIALIZAÇÃO EM INTELIGÊNCIA E ANÁLISE ESTRATÉGICA DE NEGÓCIOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91609267,'ESPECIALIZAÇÃO EM INTELIGÊNCIA E ANÁLISE ESTRATÉGICA DE NEGÓCIOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91709533,'ESPECIALIZAÇÃO EM LEITURA E PRODUÇÃO DE TEXTOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115841925,'ESPECIALIZAÇÃO EM LEITURA E PRODUÇÃO DE TEXTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2682408,'ESPECIALIZAÇÃO EM LEITURA E PRODUÇÃO DE TEXTOS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124690912,'ESPECIALIZAÇÃO EM LIBRAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124688884,'ESPECIALIZAÇÃO EM LIBRAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124691014,'ESPECIALIZAÇÃO EM LIBRAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118952993,'ESPECIALIZAÇÃO EM LÍNGUA ESPANHOLA, LITERATURA E TRADUÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1228840,'ESPECIALIZAÇÃO EM LÍNGUA INGLESA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133274041,'ESPECIALIZAÇÃO EM LÍNGUA LATINA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9240410,'ESPECIALIZAÇÃO EM LÍNGUA PORGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106300063,'ESPECIALIZAÇÃO EM LÍNGUA PORTUGUESA, GRAMÁTICA, TEXTO E DISCURSO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90314721,'ESPECIALIZAÇÃO EM LÍNGUA PORTUGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (20380590,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DA LÍNGUA MATERNA (ELINGEM)','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98466314,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DE LÍNGUA MATERNA - ELINGEM','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2177613,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DE LÍNGUA PORTUGUESA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89255875,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DE LÍNGUA PORTUGUESA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130370088,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DE TEXTO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108183561,'ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DE TEXTO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98807653,'ESPECIALIZAÇÃO EM LITERATURA AFRO-BRASILEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84750896,'ESPECIALIZAÇÃO EM LITERATURA BRASILEIRA - CELB','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123848930,'ESPECIALIZAÇÃO EM LITERATURA E CULTURA DO RIO GRANDE DO NORTE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (86837680,'ESPECIALIZAÇÃO EM LITERATURA E CULTURA DO RIO GRANDE DO NORTE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127378593,'ESPECIALIZAÇÃO EM LITERATURA E ENSINO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109150298,'ESPECIALIZAÇÃO EM LITERATURA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95817352,'ESPECIALIZAÇÃO EM LOGÍSTICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87338446,'ESPECIALIZAÇÃO EM MANEJO SUSTENTÁVEL DO SEMIÁRIDO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106102854,'ESPECIALIZAÇÃO EM MANEJO SUSTENTÁVEL DO SEMIÁRIDO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109093416,'ESPECIALIZAÇÃO EM MANEJO SUSTENTÁVEL DO SEMIÁRIDO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98435699,'ESPECIALIZAÇÃO EM MARKETING','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91612391,'ESPECIALIZAÇÃO EM MARKETING','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124439078,'ESPECIALIZAÇÃO EM MARKETING','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98404575,'ESPECIALIZAÇÃO EM MARKETING','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (131056481,'ESPECIALIZAÇÃO EM MEIO AMBIENTE, SAÚDE E DESENVOLVIMENTO','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4875449,'ESPECIALIZAÇÃO EM MERCADO DE CAPITAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98662431,'ESPECIALIZAÇÃO EM MERCADO DE CAPITAIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91908159,'ESPECIALIZAÇÃO EM METALURGIA DA FUNDIÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90531398,'ESPECIALIZAÇÃO EM METODOLOGIA PARA AÇÕES TRANSFORMADORAS','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96151812,'ESPECIALIZAÇÃO EM MÉTODOS E TÉCNICAS DE ENSINO','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96204672,'ESPECIALIZAÇÃO EM MÉTODOS E TÉCNICAS DE ENSINO','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118365771,'ESPECIALIZAÇÃO EM MÉTODOS QUANTITATIVOS APLICADOS AO CONTROLE EXTERNO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50623435,'ESPECIALIZAÇÃO EM MÍDIAS NA EDUCAÇÃO','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128400568,'ESPECIALIZAÇÃO EM MÚSICA POPULAR','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2561057,'ESPECIALIZAÇÃO EM MÚSICA - PRÁTICAS INTERPRETATIVAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90661871,'ESPECIALIZAÇÃO EM MÚSICA - PRÁTICAS INTERPRETATIVAS DO SÉC. XX E XXI - CURSO II','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2561053,'ESPECIALIZAÇÃO EM MÚSICA - PRÁTICAS INTERPRETATIVAS DOS SÉCULOS XX E XXI','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129222849,'ESPECIALIZAÇÃO EM NEGOCIAÇÃO, CONCILIAÇÃO, MEDIAÇÃO E ARBITRAGEM','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124710767,'ESPECIALIZAÇÃO EM NEUROPSICOLOGIA CLÍNICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100318441,'ESPECIALIZAÇÃO EM NEUROPSICOLOGIA CLÍNICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (137985568,'ESPECIALIZAÇÃO EM NEUROPSICOPEDAGOGIA INSTIT E EDUC ESPEC NA PERSPEC DA INCLUSÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111254589,'ESPECIALIZAÇÃO EM NEURORREABILITAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100386226,'ESPECIALIZAÇÃO EM NEURORREABILITAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51331647,'ESPECIALIZAÇÃO EM NEURORREABILITAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125943880,'ESPECIALIZAÇÃO EM NEURORREABILITAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95554398,'ESPECIALIZAÇÃO EM ORTODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128032227,'ESPECIALIZAÇÃO EM PERIODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94648773,'ESPECIALIZAÇÃO EM PERIODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109704237,'ESPECIALIZAÇÃO EM PERIODONTIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (114555079,'ESPECIALIZAÇÃO EM PLANEJAMENTO TRIBUTÁRIO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2205363,'ESPECIALIZAÇÃO EM PLANEJAMENTO TRIBUTÁRIO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96684274,'ESPECIALIZAÇÃO EM PLANEJAMENTO TRIBUTÁRIO - CURSO II','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (906780,'ESPECIALIZAÇÃO EM POLÍTICAS PÚBLICAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128492008,'ESPECIALIZAÇÃO EM PRECEPTORIA EM SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16513390,'ESPECIALIZAÇÃO EM PREVENÇÃO AO USO DO ÁLCOOL E OUTRAS DROGAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9209950,'ESPECIALIZAÇÃO EM PROCESSO DE CUIDAR EM SAÚDE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105684527,'ESPECIALIZAÇÃO EM PROCESSOS E PRODUTOS TÊXTEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105685071,'ESPECIALIZAÇÃO EM PROCESSOS E PRODUTOS TÊXTEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124724483,'ESPECIALIZAÇÃO EM PRODUÇÃO DE DOCUMENTÁRIOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106564940,'ESPECIALIZAÇÃO EM PROGRAMA NACIONAL DE EDUCAÇÃO, POBREZA E DESIGUALDADE SOCIAL','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105623475,'ESPECIALIZAÇÃO EM PROPAGANDA E MARKETING NA GESTÃO DE MARCAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93825928,'ESPECIALIZAÇÃO EM PROPAGANDA E MARKETING NA GESTÃO DE MARCAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128410588,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116663609,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128027353,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (13085350,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98547467,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89523094,'ESPECIALIZAÇÃO EM PRÓTESE DENTÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113807871,'ESPECIALIZAÇÃO EM PSICOLOGIA CLÍNICA FENOMENOLÓGICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2642948,'ESPECIALIZAÇÃO EM PSICOLOGIA CLÍNICA HUMANISTA-EXISTENCIAL - CURSO IV','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6992520,'ESPECIALIZAÇÃO EM PSICOLOGIA CLÍNICA NA ABORDAGEM HUMANISTA-EXISTENCIAL-CURSO 3','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107445010,'ESPECIALIZAÇÃO EM PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89384131,'ESPECIALIZAÇÃO EM PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124403674,'ESPECIALIZAÇÃO EM PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96006290,'ESPECIALIZAÇÃO EM PSICOLOGIA DO TRABALHO E DAS ORGANIZAÇÕES','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119899375,'ESPECIALIZAÇÃO EM PSICOMOTRICIDADE CLÍNICA E ESCOLAR','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (18284011,'ESPECIALIZAÇÃO EM PSICOPEDAGOGIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94649779,'ESPECIALIZAÇÃO EM RECUPERAÇÃO DE ÁREAS DEGRADADAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115236835,'ESPECIALIZAÇÃO EM SAÚDE COLETIVA COM ÊNFASE EM SAÚDE DA FAMÍLIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116293682,'ESPECIALIZAÇÃO EM SAÚDE DA FAMÍLIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126770118,'ESPECIALIZAÇÃO EM SAÚDE DA FAMÍLIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115483198,'ESPECIALIZAÇÃO EM SAÚDE DA MULHER COM ÊNFASE NA ATENÇÃO BÁSICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125011124,'ESPECIALIZAÇÃO EM SAÚDE DA MULHER COM ÊNFASE NA ATENÇÃO BÁSICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135632698,'ESPECIALIZAÇÃO EM SAÚDE PÚBLICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125048719,'ESPECIALIZAÇÃO EM SISTEMAS EMBARCADOS PARA INTERNET DAS COISAS','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50634872,'ESPECIALIZAÇÃO EM SOCIOLOGIA NO ENSINO MÉDIO','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (137506645,'ESPECIALIZAÇÃO EM SONO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4669920,'ESPECIALIZAÇÃO EM SUPERVISÃO EDUCACIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130230224,'ESPECIALIZAÇÃO EM TECNOLOGIAS EDUCACIONAIS','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (51323178,'ESPECIALIZAÇÃO EM TEORIA E ESTUDOS SOBRE A LINGUAGEM','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124294922,'ESPECIALIZAÇÃO EM TERAPIA COGNITIVO-COMPORTAMENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91702313,'ESPECIALIZAÇÃO EM TERAPIA COGNITIVO-COMPORTAMENTAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108221947,'ESPECIALIZAÇÃO EM TERAPIA COGNITIVO-COMPORTAMENTAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115051086,'ESPECIALIZAÇÃO EM TERAPIA INTENSIVA EM ENFERMAGEM','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136927939,'ESPECIALIZAÇÃO EM TREINAMENTO DE FORÇA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108920134,'ESPECIALIZAÇÃO EM TREINAMENTO DE FORÇA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121221352,'ESPECIALIZAÇÃO EM TREINAMENTO DE FORÇA - 2ª TURMA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121413932,'ESPECIALIZAÇÃO EM TREINAMENTO DE FORÇA  TURMA II','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (112435050,'ESPECIALIZAÇÃO EM TURISMO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135835524,'ESPECIALIZAÇÃO EM TURISMO E DESENVOLVIMENTO REGIONAL','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128572087,'ESPECIALIZAÇÃO EM URGÊNCIA E EMERGÊNCIA EM ENFERMAGEM','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3430702,'ESPECIALIZAÇÃO EM VIGILÂNCIA SANITÁRIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96911886,'ESPECIALIZAÇÃO INIC. ESPORTIVA:BASES FISIOLÓGICAS PEDAGÓGICAS NO DESENV. HUMANO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117029625,'ESPECIALIZAÇÃO MBA EM CONTROLADORIA, FINANÇAS E CONTABILIDADE NO SETOR PÚBLICO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125826893,'ESPECIALIZAÇÃO MBA EM DESIGN DE INOVAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127177289,'ESPECIALIZAÇÃO MBA EM DESIGN: INDUSTRIA 4.0','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1403270,'ESPECIALIZAÇÃO TÉCNICA DE ENFERMAGEM EM UNIDADE DE TERAPIA INTENSIVA','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (18054220,'ESPECIALIZAÇÃO TECNICA EM ENFERMAGEM DO TRABALHO','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000034,'ESTATÍSTICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4808457,'ESTUDOS TRANSDISCIPLINARES DO TEXTO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10601100,'Etica Profissional','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000039,'FARMÁCIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635047,'FILOSOFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000040,'FILOSOFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90026936,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90051527,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89826704,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90021814,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90023843,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90045186,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90051524,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90057719,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90028754,'FINANÇAS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000124,'FÍSICA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000041,'FÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635050,'FÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10345860,'FISIOTERAPIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000042,'FISIOTERAPIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89970992,'FISIOTERAPIA CARDIORRESPIRATORIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2689633,'FISIOTERAPIA MATERNOINFANTIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85898233,'FISIOTERAPIA TRAUMATO-ORTOPÉDICA E DESPORTIVA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (131773400,'FISIOTERAPIA TRAUMATO-ORTOPÉDICA E ESPORTIVA - TURMA 5','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7386870,'fonoaudiologia','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7410980,'FONOAUDIOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983484,'FORMAÇÃO DE ESTAGIÁRIOS DE LÍNGUA INGLESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983502,'FORMAÇÃO DE ESTAGIÁRIOS EM LÍNGUA ALEMÃ','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983497,'FORMAÇÃO DE ESTAGIÁRIOS EM LÍNGUA ESPANHOLA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983491,'FORMAÇÃO DE ESTAGIÁRIOS EM LÍNGUA FRANCESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983505,'FORMAÇÃO DE ESTAGIÁRIOS EM LÍNGUA JAPONESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89983500,'FORMAÇÃO DE ESTAGIÁRIOS EM LÍNGUA PORTUGUESA','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97114483,'FORMAÇÃO DE INSTRUTORES PARA EAD','ATIVO','FORMAÇÃO COMPLEMENTAR','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127903029,'FORMAÇÃO DE PROFESSORES DA ÁREA DA SAÚDE','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16850590,'FRANCISCA SUELI MONTE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117828098,'FUNDAMENTOS LINGUÍSTICOS PARA O ENSINO DA LEITURA E DA ESCRITA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2936390,'GEOFÍSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000044,'GEOGRAFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635053,'GEOGRAFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635055,'GEOGRAFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000043,'GEOGRAFIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2671321,'GEOGRAFIA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000045,'GEOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106263062,'GEOTECNIA-FUNDAÇÕES','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115231399,'GERONTOLOGIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95652568,'GESTAO AMBIENTAL COSTEIRA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2513900,'GESTÃO AMBIENTAL URBANA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2279476,' GESTÃO CONTÁBIL GOVERNAMENTAL','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (14026060,'GESTÃO DA TECNOLOGIA DA INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96726786,'GESTÃO DE COOPERATIVAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10426760,'GESTÃO DE POLÍTICAS PÚBLICAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121621462,'GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121196477,'GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115153604,'GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121608550,'GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121301194,'GESTÃO DE PROCESSOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130644692,'GESTÃO DINÂMICA DE PROJETOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130598383,'GESTÃO DINÂMICA DE PROJETOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (126757910,'GESTÃO DO TRABALHO E DA EDUCAÇÃO NA SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3095921,'GESTÃO DO TRABALHO E DA EDUCAÇÃO NA SAÚDE.','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129707729,'GESTÃO EM SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98732711,'GESTÃO ESTRATÉGICA','ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120659688,'GESTÃO ESTRATÉGICA DE NEGÓCIOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (904142,'GESTÃO ESTRATÉGICA DE SISTEMAS DE INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (14940010,'GESTÃO ESTRATÉGICA DE SISTEMAS DE INFORMAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84933830,'GESTÃO ESTRATÉGICA DO TURISMO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000159,'GESTÃO HOSPITALAR','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94304911,'GESTÃO PÚBLICA MUNICIPAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132256356,'GGG','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98984072,'HIS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000047,'HISTÓRIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635057,'HISTÓRIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000046,'HISTÓRIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50913238,'HISTÓRIA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635060,'HISTÓRIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98907860,'HISTÓRIA DA ÁFRICA, DA CULTURA AFRO-BRASILEIRA E AFRICANA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2794100,'I CURSO DE ESPECIALização em crianças e adolescentes: aspectos legais e sociais','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (8293230,'I CURSO DE ESPECIALIZAÇÃO EM DIREITO ADMINISTRATIVO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (18284012,'I CURSO DE ESPECIALIZAÇÃO EM DIREITO INTERNACIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16802810,'I Curso de Especialização em Terapia Cognitivo Comportamental','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117810389,'II CEFLE- FUNDAMENTOS LINGUÍSTICOS PARA O ENSINO DA LEITURA E ESCRITA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2270667,'II CURSO DE ESPECIALIZAÇÃO EM DIREITO CIVIL E PROCESSO CIVIL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89308464,'II EDIÇÃO - PÓS-GRADUAÇÃO EM MÚSICA: PRÁTICAS INTERPRETATIVAS DO SÉC. XX E XXI','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (14060530,'III CURSO DE ESPECIALIZAÇÃO EM DIREITO CONSTITUCIONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (8302660,'III CURSO DE ESPECIALIZAÇÃO EM DIREITO TRIBUTÁRIO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129786422,'IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129786738,'IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130254049,'IMPLANTODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129141688,'INFORMÁTICA NA SAÚDE','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (1205190,'IV CURSO DE ESPECIALIZAÇÃO EM PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118835329,'JORNALISMO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130272217,'LEITURA, ESCRITA E REVISÃO DE TEXTOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50852239,'LETRAS','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118836561,'LETRAS - FRANCÊS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118840295,'LETRAS - INGLÊS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118922026,'LETRAS - LÍNGUA ESPANHOLA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118880834,'LETRAS- LÍNGUA ESPANHOLA E LITERATURAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118922626,'LETRAS - LÍNGUA PORTUGUESA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118881115,'LETRAS - LÍNGUA PORTUGUESA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118921874,'LETRAS - LÍNGUA PORTUGUESA E LIBRAS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133175344,'LETRAS - PORTUGUÊS E INGLÊS','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120034266,'LIBRAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136088918,'LIN','NAO ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90311125,'LINGUA PORTUGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90310685,'LÍNGUA PORTUGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89444835,'LÍNGUA PORTUGUESA: GRAMÁTICA, TEXTO E DISCURSO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135463721,'LITERATURA INFANTIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135464822,'LITERATURA INFANTIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135464408,'LITERATURA INFANTIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135449709,'LITERATURA INFNATIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135342715,'LITERATURA INFNATIL NEGRA NA ESCOLA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124439083,'MARKETING','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120996572,'MARKETING ESTRATÉGICO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (85436489,'MATEMÁTICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635066,'MATEMÁTICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000055,'MATEMÁTICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000134,'MATEMÁTICA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000054,'MATEMÁTICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127083477,'MBA DESIGN: INDUSTRIA 4.0','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (16365610,'MBA em Gestão de Cooperativas','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000056,'MEDICINA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104831949,'MEDICINA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (131039818,'MEIO AMBIENTE, SAÚDE E DESENVOLVIMENTO','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315764,'MESTRADO EM ADMINISTRAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315784,'MESTRADO EM ANTROPOLOGIA SOCIAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315766,'MESTRADO EM ARQUITETURA E URBANISMO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (507420,'MESTRADO EM ARTES CÊNICAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115845492,'MESTRADO EM BIOINFORMÁTICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98469607,'MESTRADO EM BIOLOGIA ESTRUTURAL E FUNCIONAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101050284,'MESTRADO EM BIOLOGIA PARASITÁRIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315769,'MESTRADO EM BIOQUÍMICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315770,'MESTRADO EM CIÊNCIA E ENGENHARIA DE MATERIAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315786,'MESTRADO EM CIÊNCIA E ENGENHARIA DE PETRÓLEO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315782,'MESTRADO EM CIÊNCIAS BIOLÓGICAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91805256,'MESTRADO EM CIÊNCIAS CLIMÁTICAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108416320,'MESTRADO EM CIÊNCIAS CONTÁBEIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118768231,'MESTRADO EM CIÊNCIAS DA REABILITAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315773,'MESTRADO EM CIÊNCIAS DA SAÚDE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315775,'MESTRADO EM CIÊNCIAS FARMACÊUTICAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90156472,'MESTRADO EM CIÊNCIAS FLORESTAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130260333,'MESTRADO EM CIÊNCIAS ODONTOLÓGICAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315776,'MESTRADO EM CIÊNCIAS SOCIAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50798281,'MESTRADO EM DEMOGRAFIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315781,'MESTRADO EM DESENVOLVIMENTO E MEIO AMBIENTE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315779,'MESTRADO EM DIREITO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9513330,'MESTRADO EM ECOLOGIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315744,'MESTRADO EM ECONOMIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315745,'MESTRADO EM EDUCAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50980468,'MESTRADO EM EDUCAÇÃO FÍSICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315747,'MESTRADO EM ENFERMAGEM','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9300330,'MESTRADO EM ENGENHARIA CIVIL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315748,'MESTRADO EM ENGENHARIA DE PRODUÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134097165,'MESTRADO EM ENGENHARIA E CIÊNCIAS AEROESPACIAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315749,'MESTRADO EM ENGENHARIA ELÉTRICA E DE COMPUTAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315751,'MESTRADO EM ENGENHARIA MECÂNICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101050293,'MESTRADO EM ENGENHARIA MECATRÔNICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315753,'MESTRADO EM ENGENHARIA QUÍMICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315755,'MESTRADO EM ENGENHARIA SANITÁRIA E AMBIENTAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121507754,'MESTRADO EM ENGENHARIA TÊXTIL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123079207,'MESTRADO EM ENSINO DE CIÊNCIAS E MATEMÁTICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315757,'MESTRADO EM ESTUDOS DA LINGUAGEM','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11519550,'MESTRADO EM ESTUDOS DA MÍDIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (19106930,'MESTRADO EM ESTUDOS URBANOS E REGIONAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315759,'MESTRADO EM FILOSOFIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315727,'MESTRADO EM FÍSICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315789,'MESTRADO EM FISIOTERAPIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121804772,'MESTRADO EM FONOAUDIOLOGIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315761,'MESTRADO EM GEODINÂMICA E GEOFÍSICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315731,'MESTRADO EM GEOGRAFIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134098682,'MESTRADO EM GEOGRAFIA - CERES','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315780,'MESTRADO EM HISTÓRIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133255800,'MESTRADO EM HISTÓRIA / CERES','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315785,'MESTRADO EM MATEMÁTICA APLICADA E ESTATÍSTICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (95868917,'MESTRADO EM MÚSICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (17565630,'MESTRADO EM NEUROCIÊNCIAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (103197769,'MESTRADO EM NUTRIÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315733,'MESTRADO EM PATOLOGIA ORAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (9300590,'MESTRADO EM PRODUÇÃO ANIMAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315735,'MESTRADO EM PSICOBIOLOGIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315737,'MESTRADO EM PSICOLOGIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315739,'MESTRADO EM QUÍMICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84739860,'MESTRADO EM SAÚDE COLETIVA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115830568,'MESTRADO EM SAÚDE COLETIVA - FACISA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315741,'MESTRADO EM SERVIÇO SOCIAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315742,'MESTRADO EM SISTEMAS E COMPUTAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50839645,'MESTRADO EM SISTEMÁTICA E EVOLUÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (507421,'MESTRADO EM TURISMO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91477182,'MESTRADO PROFISSIONAL EM ARQUITETURA, PROJETO E MEIO AMBIENTE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108846991,'MESTRADO PROFISSIONAL EM CIÊNCIA, TECNOLOGIA E INOVAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91346221,'MESTRADO PROFISSIONAL EM DESIGN','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117880399,'MESTRADO PROFISSIONAL EM EDUCAÇÃO FÍSICA EM REDE NACIONAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (119342264,'MESTRADO PROFISSIONAL EM EDUCAÇÃO, TRABALHO E INOVAÇÃO EM MEDICINA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96067713,'MESTRADO PROFISSIONAL EM ENERGIA ELÉTRICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100181629,'MESTRADO PROFISSIONAL EM ENGENHARIA DE SOFTWARE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106146377,'MESTRADO PROFISSIONAL EM ENSINO DE ARTES - PROFARTES','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (315756,'MESTRADO PROFISSIONAL EM ENSINO DE CIÊNCIAS NATURAIS E MATEMÁTICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (114941932,'MESTRADO PROFISSIONAL EM ENSINO DE FÍSICA EM REDE NACIONAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113759737,'MESTRADO PROFISSIONAL EM ENSINO DE HISTÓRIA - PROFHISTORIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (96067701,'MESTRADO PROFISSIONAL EM ENSINO NA SAÚDE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108847073,'MESTRADO PROFISSIONAL EM GEOGRAFIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113140463,'MESTRADO PROFISSIONAL EM GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101050603,'MESTRADO PROFISSIONAL EM GESTÃO DA QUALIDADE EM SERVIÇOS DE SAÚDE','ATIVO','MESTRADO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97339504,'MESTRADO PROFISSIONAL EM GESTÃO DE PROCESSOS INSTITUCIONAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121508483,'MESTRADO PROFISSIONAL EM GESTÃO E INOVAÇÃO EM SAÚDE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84798578,'MESTRADO PROFISSIONAL EM GESTÃO PÚBLICA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133255820,'MESTRADO PROFISSIONAL EM GESTÃO, TRABALHO, EDUCAÇÃO E SAÚDE','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121508460,'MESTRADO PROFISSIONAL EM INOVAÇÃO EM TECNOLOGIAS EDUCACIONAIS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98199604,'MESTRADO PROFISSIONAL EM LETRAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (98200045,'MESTRADO PROFISSIONAL EM LETRAS','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (84739892,'MESTRADO PROFISSIONAL EM MATEMÁTICA EM REDE NACIONAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121875454,'MESTRADO PROFISSIONAL EM PRÁTICAS DE SAÚDE E EDUCAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (114310260,'MESTRADO PROFISSIONAL EM QUÍMICA - PROFQUI','ATIVO','MESTRADO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88211810,'MESTRADO PROFISSIONAL EM SAÚDE DA FAMÍLIA','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101644626,'METEOROLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90519113,'METODOLOGIAS PARA AÇÕES TRANSFORMADORAS','ATIVO','LATO SENSU','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106959927,'METROLOGIA E CONTROLE DE QUALIDADE DE LABORATÓRIOS QUÍMICOS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000057,'MÚSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635069,'MÚSICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128399752,'MÚSICA POPULAR','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (120996533,'NEGÓCIOS DIGITAIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000058,'NUTRIÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (10317040,'NUTRIÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129001038,'NUTRIÇÃO MATERNO-INFANTIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2228067,'NUTRIGENÔMICA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000059,'ODONTOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88752182,'OFICINA DE PESQUISA PARA OS MEMBROS DO','ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000063,'PEDAGOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000064,'PEDAGOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50799262,'PEDAGOGIA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127562866,'PERIODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127907607,'PERIODONTIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105113657,'PÓS-GRADUAÇÃO LATO SENSU EM PROCESSOS E PRODUTOS TÊXTEIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134682488,'PRINT/UFRN','ATIVO','DOUTORADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93455349,'PRODUÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90764358,'PROEJA- ENSINO MEDIO COM QUALIFICACAO EM MONTAGEM E MANUTENCAO DE COMPUTADORES','ATIVO','MÉDIO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89969827,'PROEJA- ENSINO MEDIO COM QUALIFICACAO EM PROCESSAMENTO DE ALIMENTOS','ATIVO','MÉDIO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133081614,'PROFLETRAS COORDENAÇÃO NACIONAL','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (101080278,'PROGRAMA DE CAPACITAÇÃO E APERFEIÇOAMENTO DA UFRN 2011-2015','ATIVO','FORMAÇÃO COMPLEMENTAR','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135938122,'PROGRAMA DE ESTUDOS SECUNDÁRIOS','NAO ATIVO','FORMAÇÃO COMPLEMENTAR','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135035650,'PROGRAMA DE RESIDÊNCIA EM ATENÇÃO PSICOSSOCIAL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117632336,'PROGRAMA DE RESIDÊNCIA JUDICIAL- 3ª TURMA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116740135,'PROGRAMA DE RESIDÊNCIA JUDICIAL- 3ª TURMA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93262777,'PROGRAMA DE RESIDÊNCIA MÉDICA EM MEDICINA DA FAMÍLIA E COMUNIDADE','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (93262776,'PROGRAMA DE RESIDÊNCIA MÉDICA EM PEDIATRIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118776383,'PROGRAMA DE RESIDÊNCIA MÉDICA EM REUMATOLOGIA/RESREUM/HUOL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (904141,'PROJETO 1','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90937674,'PROPAGANDA E MARKETING','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105602524,'PROPAGANDA E MARKETING NA GESTÃO DE MARCAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90609271,'PRÓ-REITORIA DE PÓS-GRADUAÇÃO','ATIVO','MESTRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127915115,'PRÓTESE DENTÁRIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127888738,'PRÓTESE DENTÁRIA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (102160763,'PSICOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000066,'PSICOLOGIA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124336554,'PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89384045,'PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89384114,'PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZAÇÃO','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (129109516,'QQQQQQQQQQQQQQQQ','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000144,'QUÍMICA','ATIVO','GRADUAÇÃO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000067,'QUÍMICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (111635075,'QUÍMICA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (3156200,'QUÍMICA DO PETRÓLEO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2499607,'REGÊNCIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (130026449,'RESIDÊNCIA ALUNOS ESPECIAIS PPG','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117522695,'RESIDENCIA EM ANESTESIOLOGIA/RESANES/HUAB','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036021,'RESIDÊNCIA EM ASSISTÊNCIA MATERNO-INFANTIL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036022,'RESIDÊNCIA EM ATENÇÃO À SAÚDE DA CRIANÇA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724075,'RESIDÊNCIA EM ATENÇÃO BÁSICA/RESATBAS/EMCM','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724070,'RESIDÊNCIA EM CARDIOLOGIA/RESCARD/HUOL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036023,'RESIDÊNCIA EM CIRURGIA E TRAUMATOLOGIA BUCO-MAXILO-FACIAIS','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117972362,'RESIDÊNCIA EM ENDOCRINOLOGIA PEDIÁTRICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94676386,'RESIDÊNCIA EM ENGENHARIA DE SOFTWARE','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724074,'RESIDÊNCIA EM SAÚDE MATERNO-INFANTIL/RESSMI/EMCM','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132855180,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO APLICADA À ÁREA JURÍDICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121327189,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO APLICADA À ÁREA JURÍDICA','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125496087,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO APLICADA À ÁREA JURÍDICA - TURMA JF','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125109770,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO APLICADA À ÁREA JURÍDICA - TURMA TCE/RN','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136188561,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - JFRN - TURMA 02','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136204657,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - SEARH/RN - TURMA 01','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (135098790,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - TCE/RN - TURMA 02','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (133771177,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - TURMA NUPLAM','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136093029,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - TURMA SEBRAE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132855229,'RESIDÊNCIA EM TECNOLOGIA DA INFORMAÇÃO - TURMA TRE/RN','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036024,'RESIDÊNCIA EM TERAPIA INTENSIVA ADULTO','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036025,'RESIDÊNCIA EM TERAPIA INTENSIVA NEONATAL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136947895,'RESIDÊNCIA EM TI - LAIS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125003506,'RESIDÊNCIA JUDICIAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (123924877,'RESIDÊNCIA JUDICIAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97144789,'RESIDÊNCIA JUDICIAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108428903,'RESIDÊNCIA JUDICIAL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116285516,'RESIDÊNCIA MÉDICA DA ESCOLA MULTICAMPI DE CIÊNCIAS MÉDICAS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036027,'RESIDÊNCIA MÉDICA EM ANESTESIOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036026,'RESIDÊNCIA MÉDICA EM CARDIOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036028,'RESIDÊNCIA MÉDICA EM CIRURGIA GERAL','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724072,'RESIDÊNCIA MÉDICA EM CIRURGIA GERAL/RESCIRG/EMCM','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88337492,'RESIDÊNCIA MÉDICA EM CIRURGIA VIDEOLAPAROSCÓPICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036029,'RESIDÊNCIA MÉDICA EM CLÍNICA MÉDICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724073,'RESIDÊNCIA MÉDICA EM CLÍNICA MÉDICA/RESCLMED/EMCM','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036030,'RESIDÊNCIA MÉDICA EM DERMATOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036031,'RESIDÊNCIA MÉDICA EM ENDOCRINOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036032,'RESIDÊNCIA MÉDICA EM ENDOCRINOLOGIA PEDIÁTRICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036033,'RESIDÊNCIA MÉDICA EM ENDOSCOPIA GINECOLÓGICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134975375,'RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88337493,'RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA - ENDOSCOPIA DIGESTIVA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88337494,'RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA - HEPATOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110378615,'RESIDÊNCIA MÉDICA EM GINECOLOGIA E OBSTETRÍCIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036038,'RESIDÊNCIA MÉDICA EM GINECOLOGIA E OBSTETRÍCIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036039,'RESIDÊNCIA MÉDICA EM INFECTOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036040,'RESIDÊNCIA MÉDICA EM MEDICINA DE FAMÍLIA E COMUNIDADE','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116724071,'RESIDÊNCIA MÉDICA EM MEDICINA DE FAMÍLIA E COMUNIDADE/RESMMFC/EMCM','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036041,'RESIDÊNCIA MÉDICA EM NEONATOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036042,'RESIDÊNCIA MÉDICA EM NEUROCIRURGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (88337495,'RESIDÊNCIA MÉDICA EM NEUROLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036043,'RESIDÊNCIA MÉDICA EM NEUROLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036044,'RESIDÊNCIA MÉDICA EM NEUROLOGIA PEDIÁTRICA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036045,'RESIDÊNCIA MÉDICA EM OFTALMOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036046,'RESIDÊNCIA MÉDICA EM OTORRINOLARINGOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5048042,'RESIDÊNCIA MÉDICA EM PATOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036034,'RESIDÊNCIA MÉDICA EM PEDIATRIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036035,'RESIDÊNCIA MÉDICA EM PSIQUIATRIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036036,'RESIDÊNCIA MÉDICA EM RADIOLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5036037,'RESIDÊNCIA MÉDICA EM UROLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2060661,'RESIDÊNCIA MÉDICA EM UROLOGIA','ATIVO','RESIDÊNCIA','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115820116,'RESIDÊNCIA MULTIPROFISSIONAL EM ATENÇÃO BÁSICA E EM SAÚDE MATERNO-INFANTIL','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7252420,'SAÚDE COLETIVA','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000068,'SERVIÇO SOCIAL','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2069728,'SIMPÓSIO DE DST E AIDS','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (7191770,'SISTEMAS DE INFORMAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104281175,'SOCIOLOGIA','NAO ATIVO','LATO SENSU','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127662526,'SSSS','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117859096,'SUPERVISÃO EAD','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000158,'TEATRO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5400,'TÉCNICO DE MÚSICA (CANTO)','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4970,'TÉCNICO DE MÚSICA (INSTRUMENTO)','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5402,'TÉCNICO DE MÚSICA (PROCESSOS FONOGRÁFICOS)','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (5401,'TÉCNICO DE MÚSICA (REGÊNCIA)','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127877945,'TECNICO EM ADMINISTRAÇÃO','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836332,'TÉCNICO EM ADMINISTRAÇÃO - MEDIOTEC - 2017.2 - MOSSORÓ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836370,'TÉCNICO EM ADMINISTRAÇÃO - MEDIOTEC - 2017.2 - PATÚ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94763016,'TÉCNICO EM AGENTE COMUNITÁRIO DE SAÚDE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89236703,'TECNICO EM AGRICULTURA CORRESPONDENTE AO ENSINO MEDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836411,'TÉCNICO EM AGRICULTURA - MEDIOTEC - 2017.2 - MACAÍBA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836381,'TÉCNICO EM AGRICULTURA - MEDIOTEC - 2017.2 - PASSA E FICA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836390,'TÉCNICO EM AGRICULTURA - MEDIOTEC - 2017.2 - SENADOR ELÓI DE SOUZA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836386,'TÉCNICO EM AGRICULTURA - MEDIOTEC - 2017.2 - VERA CRUZ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084697,'TÉCNICO EM AGROECOLOGIA CONCOMITANTE - APODI - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305660,'TÉCNICO EM AGROECOLOGIA CONCOMITANTE - SÃO JOSÉ DO MIPIBÚ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305659,'TÉCNICO EM AGROECOLOGIA CONCOMITANTE - TOUROS - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104829374,'TÉCNICO EM AGROECOLOGIA - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575692,'TÉCNICO EM AGROECOLOGIA - JOÃO CÂMARA - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836160,'TÉCNICO EM AGROECOLOGIA - MEDIOTEC - 2017.2 - ASSÚ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700152,'TÉCNICO EM AGROECOLOGIA - PEDRO AVELINO','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91131594,'TÉCNICO EM AGROINDÚSTRIA A DISTÂNCIA - E-TEC','ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128442084,'TECNICO EM AGROINDUSTRIA A DISTÂNCIA ETEC SUBSEQUENTE 1200HS','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89566524,'TECNICO EM AGROINDUSTRIA CONCOMITANTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89236989,'TECNICO EM AGROINDUSTRIA CORRESPONDENTE AO ENSINO MEDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104830980,'TÉCNICO EM AGROINDÚSTRIA - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128154178,'TÉCNICO EM AGROINDÚSTRIA ETEC MEDIOTEC','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4746394,'TECNICO EM AGROINDUSTRIA SUBSEQUENTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113586412,'TÉCNICO EM AGRONEGÓCIO 2015.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127812701,'TÉCNICO EM AGRONEGÓCIO A DISTANCIA ETEC','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106116814,'TÉCNICO EM AGRONEGÓCIO SUBS. - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573674,'TÉCNICO EM AGRONEGÓCIO SUBS. - TOUROS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700157,'TÉCNICO EM AGRONEGÓCIO - TOUROS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (108814299,'TÉCNICO EM AGROPECUÁRIA A DISTÂNCIA - E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4746305,'TECNICO EM AGROPECUARIA CONCOMITANTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97201468,'TECNICO EM AGROPECUÁRIA CORRESPONDENTE AO ENSINO MÉDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700482,'TÉCNICO EM AGROPECUÁRIA - JOÃO CÂMARA','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836415,'TÉCNICO EM AGROPECUÁRIA - MEDIOTEC - 2017.2 - MACAÍBA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836420,'TÉCNICO EM AGROPECUÁRIA - MEDIOTEC - 2017.2 - MONTE ALEGRE','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836360,'TÉCNICO EM AGROPECUÁRIA - MEDIOTEC - 2017.2 - MOSSORÓ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836427,'TÉCNICO EM AGROPECUÁRIA - MEDIOTEC - 2017.2 - SANTO ANTÔNIO','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4746233,'TECNICO EM AGROPECUARIA SUBSEQUENTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106116842,'TÉCNICO EM AGROPECUÁRIA SUBS. - TOUROS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573659,'TÉCNICO EM AGROPECUÁRIA SUBS. - VERA CRUZ - PRON','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700483,'TÉCNICO EM AGROPECUÁRIA - VERA CRUZ','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110000708,'TÉCNICO EM ALIMENTAÇÃO ESCOLAR A DISTÂNCIA E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94760623,'TÉCNICO EM ANÁLISES CLÍNICAS','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116206366,'TÉCNICO EM APICULTURA A DISTÂNCIA - E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084762,'TÉCNICO EM APICULTURA CONCOMITANTE - SERRA DO MEL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110392658,'TÉCNICO EM AQUICULTURA A DISTÂNCIA E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89569923,'TECNICO EM AQUICULTURA CONCOMITANTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (97294724,'TÉCNICO EM AQUICULTURA CORRESPONDENTE AO ENSINO MÉDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104828480,'TÉCNICO EM AQUICULTURA - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (4769895,'TECNICO EM AQUICULTURA SUBSEQUENTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855616,'TÉCNICO EM AUTOMAÇÃO INDUSTRIAL - IMD - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855742,'TÉCNICO EM CERÂMICA - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855224,'TÉCNICO EM CITOPATOLOGIA - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700266,'TÉCNICO EM COMÉRCIO - CAICÓ','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100755713,'TÉCNICO EM COMÉRCIO EXTERIOR A DISTÂNCIA E-TEC','ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127876144,'TECNICO EM CONTABILIDADE','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (100755694,'TÉCNICO EM COOPERATIVISMO A DISTÂNCIA E-TEC','ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (132439864,'TÉCNICO EM COOPERATIVISMO A DISTANCIA ETEC MEDIOTEC','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575702,'TÉCNICO EM EDIFICAÇÕES - 2013.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855238,'TÉCNICO EM EDIFICAÇÕES - 2014.1 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113586304,'TÉCNICO EM EDIFICAÇÕES 2015.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305806,'TÉCNICO EM EDIFICAÇÕES CONCOMITANTE - NATAL - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305770,'TÉCNICO EM ELETROMECÂNICA CONCOMITANTE - MOSSORÓ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836299,'TÉCNICO EM ELETROMECÂNICA - MEDIOTEC - 2017.2 - MOSSORÓ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855738,'TÉCNICO EM ELETRÔNICA - IMD - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128872362,'TÉCNICO EM FINANÇAS','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836165,'TÉCNICO EM FRUTICULTURA - MEDIOTEC - 2017.2 - ASSÚ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836168,'TÉCNICO EM FRUTICULTURA - MEDIOTEC - 2017.2 - GOV. DIX-SEPT ROSADO','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836183,'TÉCNICO EM FRUTICULTURA - MEDIOTEC - 2017.2 - IPANGUAÇU','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700459,'TÉCNICO EM FRUTICULTURA - TIBAU','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305821,'TÉCNICO EM GUIA DE TURISMO CONCOMITANTE - EXTREMOZ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084853,'TÉCNICO EM GUIA DE TURISMO CONCOMITANTE - SANTA CRUZ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573371,'TÉCNICO  EM GUIA DE TURISMO-CURRAIS NOVOS-PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104814850,'TÉCNICO EM GUIA DE TURISMO - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700435,'TÉCNICO EM GUIA DE TURISMO - MARTINS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836435,'TÉCNICO EM GUIA DE TURISMO - MEDIOTEC - 2017.2 - PRESIDENTE JUSCELINO','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573006,'TÉCNICOEM GUIA DE TURISMO-PAU DOS FERROS-PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700437,'TÉCNICO EM GUIA DE TURISMO - TOUROS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573440,'TÉCNICO EM GUIA DE TURISMO - TOUROS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700474,'TÉCNICO EM HOSPEDAGEM - NATAL','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (110897348,'TÉCNICO EM INFORMÁTICA 2012','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (90566270,'TÉCNICO EM INFORMÁTICA A DISTÂNCIA - E-TEC','ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89569829,'TECNICO EM INFORMATICA CONCOMITANTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084882,'TÉCNICO EM INFORMÁTICA CONCOMITANTE - CARAÚBAS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106572709,'TÉCNICO EM INFORMÁTICA CONCOMITANTE - JARDIM DO SERIDÓ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305699,'TÉCNICO EM INFORMÁTICA CONCOMITANTE - MOSSORÓ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305698,'TÉCNICO EM INFORMÁTICA CONCOMITANTE - SÃO GONÇALO DO AMARANTE - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89237318,'TECNICO EM INFORMATICA CORRESPONDENTE AO ENSINO MEDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855831,'TÉCNICO EM INFORMÁTICA - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855737,'TÉCNICO EM INFORMÁTICA PARA INTERNET - IMD - PRON','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700457,'TÉCNICO EM INFORMÁTICA - PENDÊNCIAS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (11286670,'TECNICO EM INFORMATICA SUBSEQUENTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106545595,'TÉCNICO EM INSTRUMENTO MUSICAL - PRONATEC 2014.2','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (94730684,'TÉCNICO EM INSTRUMENTO - PRONATEC 2012.2 - CRUZETA/RN','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128856859,'TECNICO EM LOGISTICA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113586418,'TÉCNICO EM LOGÍSTICA 2015.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305682,'TÉCNICO EM LOGÍSTICA CONCOMITANTE - MACAÍBA - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106109510,'TÉCNICO EM LOGÍSTICA - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836375,'TÉCNICO EM LOGÍSTICA - MEDIOTEC - 2017.2 - PATÚ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700419,'TÉCNICO EM LOGÍSTICA - NATAL','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700415,'TÉCNICO EM LOGÍSTICA - PARNAMIRIM','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106573525,'TÉCNICO EM LOGÍSTICA - PAU DOS FERROS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700423,'TÉCNICO EM LOGÍSTICA - SÃO GONÇALO DO AMARANTE','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700398,'TÉCNICO EM LOGÍSTICA - SERRA DO SÃO BENTO','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700325,'TÉCNICO EM LOGÍSTICA - TOUROS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127305577,'TÉCNICO EM MANUTENÇÃO DE SUPORTE EM INFORMÁTICA (ETEC)','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128436578,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA A DISTANCIA ETEC','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116228370,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA A DISTÂNCIA - E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305686,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA - APODI - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121703517,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA - ETEC - AREIA BRANCA','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121704768,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA - ETEC - ASSÚ','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127866117,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMATICA ETEC MEDIOTEC MACAIBA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121707115,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA - ETEC - SÃO P. POTENGI','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (121706234,'TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA - ETEC - TOUROS','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084908,'TÉCNICO EM MANUT. E SUPORTE EM INFORMÁTICA CONC. - ASSU - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575543,'TÉCNICO EM MANUT. E SUPORTE EM INFORMÁTICA CONC. - PARELHAS - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305805,'TÉCNICO EM MECÂNICA CONCOMITANTE - NATAL - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836293,'TÉCNICO EM MECÂNICA - MEDIOTEC - 2017.2 - MOSSORÓ','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836227,'TÉCNICO EM MECÂNICA - MEDIOTEC - 2017.2 - NATAL','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (113586316,'TÉCNICO EM MEIO AMBIENTE 2015.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305620,'TÉCNICO EM MEIO AMBIENTE CONCOMITANTE - CAICÓ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305623,'TÉCNICO EM MEIO AMBIENTE CONCOMITANTE - NATAL - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855459,'TÉCNICO EM MEIO AMBIENTE - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305771,'TÉCNICO EM METALÚRGICA CONCOMITANTE - MOSSORÓ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700489,'TÉCNICO EM MINERAÇÃO - CURRAIS NOVOS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836192,'TÉCNICO EM MODELAGEM DO VESTUÁRIO - MEDIOTEC - 2017.2 - NATAL','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (112694962,'TÉCNICO EM MULTIMEIOS DIDÁTICOS E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855357,'TÉCNICO EM PLÁSTICOS - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836198,'TÉCNICO EM PRODUÇÃO DE MODA - MEDIOTEC - 2017.2 - NATAL','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855686,'TÉCNICO EM PROGRAMAÇÃO DE JOGOS DIGITAIS IMD PRON','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128876059,'TECNICO EM QUALIDADE','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127875623,'TECNICO EM QUIMICA','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (125836189,'TÉCNICO EM QUÍMICA - MEDIOTEC - 2017.2 - NATAL','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128435821,'TÉCNICO EM REDES DE COMPUTADORES A DISTANCIA ETEC','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (127861721,'TÉCNICO EM REDES DE COMPUTADORES A DISTANCIA ETEC MEDIOTEC MACAIBA','NAO ATIVO','TÉCNICO','Semi-Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855624,'TÉCNICOEM REDES DE COMPUTADORES - IMD - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (109365626,'TÉCNICO EM SAÚDE BUCAL','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116210422,'TÉCNICO EM SECRETARIA ESCOLAR A DISTÂNCIA - E-TEC','NAO ATIVO','TÉCNICO','A Distância')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106084911,'TÉCNICO EM SEGURANÇA DO TRABALHO - 2013.2 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575712,'TÉCNICO EM SEGURANÇA DO TRABALHO - 2014.1 - EAJ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106580135,'TÉCNICO EM SEGURANÇA DO TRABALHO - 2014.1 - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575489,'TÉCNICO EM SEGURANÇA DO TRABALHO CONC. - APODI - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575481,'TÉCNICO EM SEGURANÇA DO TRABALHO CONC. - JUCURUTU - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575478,'TÉCNICO EM SEGURANÇA DO TRABALHO CONC. - MOSSORÓ - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (106575473,'TÉCNICO EM SEGURANÇA DO TRABALHO CONC. - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700463,'TÉCNICO EM SERVIÇOS JURÍDICOS - NATAL','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700468,'TÉCNICO EM SERVIÇOS JURÍDICOS - PARNAMIRIM','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (107700465,'TÉCNICO EM SERVIÇOS JURÍDICOS - TOUROS','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105096598,'TÉCNICO EM SISTEMAS DE ENERGIAS RENOVÁVEIS-NATAL-PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855366,'TÉCNICO EM TÊXTIL - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115305815,'TÉCNICO EM VESTUÁRIO CONCOMITANTE - EXTREMOZ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (104855557,'TÉCNICO EM VESTUÁRIO - NATAL - PRONATEC','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (115439980,'TÉCNICO EM VESTUÁRIO SUBSEQUENTE - EXTREMOZ - 2015.3','NAO ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (50566677,'TÉCNICO EM VIGILÂNCIA EM SAÚDE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (89233245,'TECNICO EM ZOOTECNIA CORRESPONDENTE AO ENSINO MEDIO','ATIVO','TÉCNICO INTEGRADO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (87773846,'TECNICO  EM ZOOTECNIA SUBSEQUENTE','ATIVO','TÉCNICO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (92127264,'TECNOLOGIA DA INFORMAÇÃO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (91383229,'TECNOLOGIA EDUCACIOONAL','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (118244598,'TESTE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (105492472,'TESTE','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136921336,'TREINAMENTO DE FORÇA - TURMA 3','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (136180327,'TREINAMENTO DE FORÇA - TURMA 3','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000071,'TURISMO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (2000069,'TURISMO','ATIVO','GRADUAÇÃO','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (128571097,'URGÊNCIA E EMERGÊNCIA EM ENFERMAGEM','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (18284010,'V CURSO DE ESPECIALIZAÇÃO EM PSICOLOGIA DA SAÚDE: DESENVOLVIMENTO E HOSPITALIZA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (906781,'V CURSO DE ESPECIALIZAÇÃO EM SAÚDE DA FAMILIA','ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (124211342,'VIII CURSO DE ESPECIALIZAÇÃO EM PSICOLOGIA DA SAUDE: DESENVOLVIMENTO E HOSPITALI','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117515580,'XX CCCC','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (117512222,'XX DO CC','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (138696688,'XXXX','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (116634010,'XXXX','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (134723981,'XXXXXXXXXXXXX','NAO ATIVO','LATO SENSU','Presencial')")
cursor.execute("INSERT INTO CURSO (ID_CURSO,NOME_CURSO,SITUACAO_CURSO,NIVEL_ENSINO,MODALIDADE_EDUCACAO) VALUES (6358080,'ZOOTECNIA','ATIVO','GRADUAÇÃO','Presencial')")

In [15]:
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000002,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1971/09/16 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000004,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1978/09/15 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (15315770,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (94598200,'TECNOLÓGICO','Outra','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000005,'BACHARELADO','Engenharias','Regular','Um ciclo','1973/08/13 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000123,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','1977/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000006,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1977/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000122,'BACHARELADO','Ciências Biológicas','Regular','Um ciclo','2003/03/31 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000013,'BACHARELADO','Ciências Exatas e da Terra','Regular','Dois ciclos','1987/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (6633741,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635035,'LICENCIATURA','Ciências Biológicas','Regular','Um ciclo','1970/02/23 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9295710,'LICENCIATURA','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000009,'BACHARELADO','Ciências Biológicas','Regular','Um ciclo','1970/02/23 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000012,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1979/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000011,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1962/09/16 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000014,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1979/06/16 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (10320810,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000015,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1974/09/04 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (102191189,'LICENCIATURA','Ciências Humanas','Temporário','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635038,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','1974/09/04 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000016,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1963/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (119512361,'BACHARELADO','Ciências Humanas','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118834827,'BACHARELADO','Ciências Humanas','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (7264330,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (6992521,'BACHARELADO','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000018,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1954/01/25 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000019,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315765,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (108227148,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315767,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (115845494,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9285380,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315788,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315743,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315771,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315787,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (17975012,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315774,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (110710810,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (130260440,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315777,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (132958656,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9300591,'','Ciências da Saúde','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (19018260,'','Ciências Agrárias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9300592,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315746,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50903134,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315750,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315752,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315754,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (108847150,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315758,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (115789633,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (132958781,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (115789618,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315760,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315728,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (95726200,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315763,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (95953799,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (133179605,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (98462514,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (17565631,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315734,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315736,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (17275730,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315740,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (84739891,'','Ciências da Saúde','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (117229950,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (96146345,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (104910434,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000121,'BACHARELADO','Ciências Biológicas','Regular','Um ciclo','2003/12/31 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85436676,'LICENCIATURA','Ciências da Saúde','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000022,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1973/08/13 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50688664,'LICENCIATURA','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635041,'LICENCIATURA','Ciências da Saúde','Regular','Um ciclo','1973/08/13 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (13027790,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000023,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1974/01/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2576632,'BACHARELADO','Ciências Agrárias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85322571,'BACHARELADO','Engenharias','Anual','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85341136,'BACHARELADO','Engenharias','Regular','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000025,'BACHARELADO','Engenharias','Regular','Um ciclo','1960/01/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000150,'BACHARELADO','Engenharias','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2576623,'BACHARELADO','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000026,'BACHARELADO','Engenharias','Regular','Dois ciclos','1996/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000027,'BACHARELADO','Engenharias','Regular','Dois ciclos','1999/04/05 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2071220,'BACHARELADO','Engenharias','Regular','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000029,'BACHARELADO','Engenharias','Regular','Um ciclo','1998/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (17848940,'BACHARELADO','Ciências Exatas e da Terra','Regular','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85322080,'BACHARELADO','Engenharias','Regular','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000030,'BACHARELADO','Engenharias','Regular','Um ciclo','1969/04/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (8068230,'BACHARELADO','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000031,'BACHARELADO','Engenharias','Regular','Dois ciclos','1976/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85437055,'BACHARELADO','Engenharias','Regular','Dois ciclos','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000032,'BACHARELADO','Engenharias','Regular','Um ciclo','1974/02/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000033,'BACHARELADO','Engenharias','Regular','Um ciclo','1998/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000034,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1974/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000039,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1923/01/08 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635047,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','1980/01/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000040,'BACHARELADO','Linguística, Letras e Artes','Regular','Um ciclo','1980/01/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000124,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1969/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000041,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1969/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635050,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1969/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (10345860,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000042,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1978/06/12 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (7410980,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2936390,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','2008/02/18 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000044,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1974/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635053,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1956/03/07 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635055,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','1974/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000043,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1956/03/07 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2671321,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','2007/10/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000045,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1976/06/12 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (96726786,'TECNOLÓGICO','Ciências Sociais Aplicadas','Temporário','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (10426760,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000159,'TECNOLÓGICO','Ciências da Saúde','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000047,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1974/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635057,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','1957/03/07 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000046,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1957/03/07 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50913238,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635060,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','1974/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118835329,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50852239,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118836561,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118840295,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118922026,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118880834,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118922626,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118881115,'LICENCIATURA','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118921874,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (133175344,'LICENCIATURA','Linguística, Letras e Artes','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (85436489,'LICENCIATURA','Ciências Exatas e da Terra','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635066,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1969/08/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000055,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1979/07/20 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000134,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000054,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1969/08/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000056,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1956/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (104831949,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315764,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315784,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315766,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (507420,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (115845492,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (98469607,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (101050284,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315769,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315770,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315786,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315782,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (91805256,'','Ciências Exatas e da Terra','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (108416320,'','Ciências Sociais Aplicadas','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (118768231,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315773,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315775,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (90156472,'','Ciências Agrárias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (130260333,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315776,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50798281,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315781,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315779,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9513330,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315744,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315745,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50980468,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315747,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9300330,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315748,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (134097165,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315749,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315751,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (101050293,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315753,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315755,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (121507754,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (123079207,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315757,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (11519550,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (19106930,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315759,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315727,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315789,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (121804772,'','Ciências da Saúde','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315761,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315731,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (134098682,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315780,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (133255800,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315785,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (95868917,'','Linguística, Letras e Artes','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (17565630,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (103197769,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315733,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (9300590,'','Ciências Agrárias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315735,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315737,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315739,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (84739860,'','Ciências da Saúde','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (115830568,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315741,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315742,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50839645,'','Ciências Biológicas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (507421,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (91477182,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (108846991,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (91346221,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (117880399,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (119342264,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (96067713,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (100181629,'','Engenharias','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (106146377,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (315756,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (114941932,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (113759737,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (96067701,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (108847073,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (113140463,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (101050603,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (97339504,'','Ciências Humanas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (121508483,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (84798578,'','Ciências Sociais Aplicadas','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (133255820,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (121508460,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (98199604,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (98200045,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (84739892,'','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (121875454,'','Ciências da Saúde','Semestral','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (114310260,'','Ciências Exatas e da Terra','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (88211810,'','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (101644626,'BACHARELADO','Ciências Exatas e da Terra','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000057,'BACHARELADO','Linguística, Letras e Artes','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635069,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000058,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1977/02/24 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (10317040,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000059,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','1947/02/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000063,'LICENCIATURA','Ciências Sociais Aplicadas','Regular','Um ciclo','1970/03/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000064,'LICENCIATURA','Ciências Sociais Aplicadas','Regular','Um ciclo','1974/03/11 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (50799262,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (134682488,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (133081614,'','Linguística, Letras e Artes','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (135035650,'','','Regular','','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (90609271,'','Outra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (102160763,'BACHARELADO','Ciências Sociais Aplicadas','Anual','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000066,'BACHARELADO','Ciências Humanas','Regular','Um ciclo','1997/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000144,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000067,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','1970/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (111635075,'LICENCIATURA','Ciências Exatas e da Terra','Regular','Um ciclo','1970/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (3156200,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','2008/02/18 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (130026449,'','','Regular','','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (5036022,'','','Regular','','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (134975375,'','','Regular','','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (7252420,'BACHARELADO','Ciências da Saúde','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000068,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1945/03/02 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (7191770,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000158,'LICENCIATURA','Linguística, Letras e Artes','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (92127264,'BACHARELADO','Ciências Exatas e da Terra','Regular','Um ciclo','')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000071,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','2020/01/01 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (2000069,'BACHARELADO','Ciências Sociais Aplicadas','Regular','Um ciclo','1997/03/03 00:00:00.000')")
cursor.execute("INSERT INTO OFERTA (ID_CURSO,GRAU_ACADEMICO,AREA_CONHECIMENTO,TIPO_OFERTA,TIPO_CICLO_FORMACAO,DATA_FUNCIONAMENTO) VALUES (6358080,'BACHARELADO','Ciências Agrárias','Regular','Um ciclo','')")

In [16]:
cursor.execute("INSERT INTO TURNO (ID_TURNO,NOME_TURNO) VALUES (1,'Matutino') ")
cursor.execute("INSERT INTO TURNO (ID_TURNO,NOME_TURNO) VALUES (2,'Vespertino') ")
cursor.execute("INSERT INTO TURNO (ID_TURNO,NOME_TURNO) VALUES (3,'Noturno') ")

In [17]:
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000002,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000002,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000004,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000004,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000005,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000005,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000005,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000123,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000123,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000006,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000122,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000122,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000122,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000013,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000013,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635035,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635035,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635035,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000009,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000009,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000009,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000012,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000012,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000011,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000011,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000014,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000014,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000015,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000015,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635038,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635038,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000016,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000016,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000016,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000018,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000018,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000019,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000019,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000019,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000121,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000121,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000022,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000022,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000022,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635041,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635041,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635041,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000023,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000023,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000025,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000025,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000025,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000150,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000026,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000026,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000026,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000027,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000027,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000027,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000029,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000029,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000030,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000030,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000030,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000031,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000031,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000031,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000032,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000032,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000032,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000033,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000033,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000034,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000039,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000039,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635047,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000040,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000124,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000124,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000124,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000041,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000041,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000041,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635050,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635050,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635050,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000042,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000042,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2936390,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2936390,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000044,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000044,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635053,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635053,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635055,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635055,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000043,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000043,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2671321,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2671321,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2671321,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000045,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000045,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000159,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000159,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000159,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000047,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000047,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635057,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635057,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000046,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000046,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635060,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635060,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635066,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635066,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635066,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000055,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000055,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000055,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000134,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000134,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000134,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000054,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000054,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000054,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000056,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000056,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000056,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000057,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000057,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000057,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635069,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635069,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635069,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000058,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000058,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000059,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000059,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000063,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000063,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000063,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000064,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000064,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000066,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000066,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000144,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000144,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000144,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000067,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000067,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000067,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635075,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635075,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (111635075,3)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (3156200,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (3156200,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000068,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000068,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000158,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000071,1)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000071,2)")
cursor.execute("INSERT INTO CURSO_TURNO (ID_CURSO,ID_TURNO) VALUES (2000069,2)")

In [18]:
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11351,'ALUNOS ESPECIAIS PPG - RESIDENCIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1482,'CENTRO DE  ENSINO SUPERIOR DO SERIDÓ')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (440,'CENTRO DE BIOCIÊNCIAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (441,'CENTRO DE CIÊNCIAS DA SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (439,'CENTRO DE CIÊNCIAS EXATAS E DA TERRA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (442,'CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (443,'CENTRO DE CIÊNCIAS SOCIAIS APLICADAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5965,'CENTRO DE EDUCAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (445,'CENTRO DE TECNOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (234,'CERES - DEPARTAMENTO DE GEOGRAFIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5486,'CERES - DEPARTAMENTO DE HISTÓRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (235,'CERES - DEPTO CIÊNCIAS EXATAS E APLICADAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (236,'CERES - DEPTO CIÊNCIAS SOCIAIS E HUMANAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2856,'CERES - SECRETARIA DO DCEA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1698,'COOPERATIVA CULTURAL DA UFRN')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1618,'COORD. DO PROGRAMA DE POS-GRAD. EM ADMINISTRACAO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5285,'COREME - CLÍNICA MÉDICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5277,'COREME - UROLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11,'DDP/PROGESP - DIRETORIA DE DESENVOLVIMENTO DE PESSOAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11612,'DEPARTAMENTO DE ADMINISTRAÇÃO PUBLICA E GESTÃO SOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (117,'DEPARTAMENTO DE ANÁLISES CLÍNICAS E TOXICOLÓGICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (144,'DEPARTAMENTO DE ANTROPOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (54,'DEPARTAMENTO DE ARQUITETURA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (139,'DEPARTAMENTO DE ARTES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (3586,'DEPARTAMENTO DE BIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (182,'DEPARTAMENTO DE BIOQUÍMICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (63,'DEPARTAMENTO DE CIÊNCIA DA INFORMAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (161,'DEPARTAMENTO DE CIÊNCIAS ADMINISTRATIVAS - DEPAD')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (163,'DEPARTAMENTO DE CIÊNCIAS CONTÁBEIS - DCC')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (136,'DEPARTAMENTO DE CIÊNCIAS SOCIAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (192,'DEPARTAMENTO DE CIRURGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (140,'DEPARTAMENTO DE COMUNICAÇÃO SOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (79,'DEPARTAMENTO DE DIREITO PRIVADO - DIPRI')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (84,'DEPARTAMENTO DE DIREITO PUBLICO - DIPUB')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (160,'DEPARTAMENTO DE ECONOMIA - DEPEC')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (159,'DEPARTAMENTO DE EDUCAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4880,'DEPARTAMENTO DE EDUCAÇÃO - CERES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (199,'DEPARTAMENTO DE EDUCAÇÃO FÍSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (198,'DEPARTAMENTO DE ENFERMAGEM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5205,'DEPARTAMENTO DE ENGENHARIA BIOMEDICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (52,'DEPARTAMENTO DE ENGENHARIA CIVIL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (56,'DEPARTAMENTO DE ENGENHARIA DE COMPUTACAO E AUTOMACAO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1589,'DEPARTAMENTO DE ENGENHARIA DE MATERIAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (115,'DEPARTAMENTO DE ENGENHARIA PRODUÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (424,'DEPARTAMENTO DE ENGENHARIA TÊXTIL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (47,'DEPARTAMENTO DE ESTATISTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (196,'DEPARTAMENTO DE FARMACIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (137,'DEPARTAMENTO DE FILOSOFIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (121,'DEPARTAMENTO DE FÍSICA TEÓRICA E EXPERIMENTAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (201,'DEPARTAMENTO DE FISIOTERAPIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5610,'DEPARTAMENTO DE FONOAUDIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5967,'DEPARTAMENTO DE FUNDAMENTOS E POLÍTICAS DA EDUCAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (142,'DEPARTAMENTO DE GEOGRAFIA/CCHLA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (141,'DEPARTAMENTO DE HISTÓRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (125,'DEPARTAMENTO DE INFORMÁTICA E MATEMÁTICA APLICADA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (138,'DEPARTAMENTO DE LETRAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7847,'DEPARTAMENTO DE LETRAS - CERES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5206,'DEPARTAMENTO DE LINGUAS E LITERATURAS ESTRANGEIRAS MODERNAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (120,'DEPARTAMENTO DE MATEMÁTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (181,'DEPARTAMENTO DE MICROBIOLOGIA E PARASITOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (177,'DEPARTAMENTO DE MORFOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (180,'DEPARTAMENTO DE OCEANOGRAFIA E LIMNOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (195,'DEPARTAMENTO DE ODONTOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (193,'DEPARTAMENTO DE PEDIATRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5968,'DEPARTAMENTO DE PRÁTICAS EDUCACIONAIS E CURRÍCULO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (143,'DEPARTAMENTO DE PSICOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (202,'DEPARTAMENTO DE SAÚDE COLETIVA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (162,'DEPARTAMENTO DE SERVIÇO SOCIAL - DESSO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (197,'DEPARTAMENTO DE TOCO-GINECOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (351,'ESCOLA AGRÍCOLA DE JUNDIAÍ')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8919,'ESCOLA AGRICOLA DE JUNDIAI - PRONATEC')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4885,'ESCOLA DE CIÊNCIAS E TECNOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (284,'ESCOLA DE MÚSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (205,'ESCOLA DE SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7278,'ESCOLA MULTICAMPI DE CIÊNCIAS MÉDICAS DO RIO GRANDE DO NORTE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4890,'FACULDADE DE CIÊNCIAS DA SAÚDE DO TRAIRI - FACISA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (3202,'FUNPEC/PPGAD')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2828,'HUOL - DEPARTAMENTO DE CIRURGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6042,'INSTITUTO ÁGORA - LÍNGUAS, LITERATURAS E CULTURAS ESTRANGEIRAS MODERNAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6069,'INSTITUTO METROPOLE DIGITAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1609,'NESC - NÚCLEO DE ESTUDOS EM SAÚDE COLETIVA (ADM. CENTRAL)')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2773,'NÚCLEO AVANÇADO DE POLÍTICAS PÚBLICAS - CCHLA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1488,'NÚCLEO CÂMARA CASCUDO DE ESTUDOS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1452,'NÚCLEO DE EDUCAÇÃO DA INFÂNCIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (409,'NÚCLEO DE ESTUDOS EM SAÚDE COLETIVA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4652,'PÓS-GRADUAÇÃO EM TURISMO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1483,'PRÓ-REITORIA DE PÓS GRADUAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (30040,'PRÓ-REITORIA DE PÓS-GRADUAÇÃO - PRINT')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11619,'PROFLETRAS - COORDENAÇÃO NACIONAL - MESTRADO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1591,'PROG. POS-GRADUACAO EM ODONTOLOGIA SOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (74,'PROGRAMA DE PÓS-GRADUAÇÃO EM ADMINISTRAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1442,'PROGRAMA DE PÓS-GRADUAÇÃO EM ANTROPOLOGIA SOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (102,'PROGRAMA DE PÓS-GRADUAÇÃO EM ARQUITETURA E URBANISMO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6967,'PROGRAMA DE PÓS-GRADUAÇÃO EM ARQUITETURA, PROJETO E MEIO AMBIENTE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4073,'PROGRAMA DE PÓS-GRADUAÇÃO EM ARTES CÊNICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9814,'PROGRAMA DE PÓS-GRADUAÇÃO EM BIOINFORMÁTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7805,'PROGRAMA DE PÓS-GRADUAÇÃO EM BIOLOGIA ESTRUTURAL E FUNCIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8085,'PROGRAMA DE PÓS-GRADUAÇÃO EM BIOLOGIA PARASITÁRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1639,'PROGRAMA DE PÓS-GRADUAÇÃO EM BIOQUÍMICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (3014,'PROGRAMA DE PÓS-GRADUAÇÃO EM BIOTECNOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (68,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIA E ENGENHARIA DE MATERIAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2598,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIA E ENGENHARIA DE PETRÓLEO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9109,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIA, TECNOLOGIA E INOVAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (431,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS BIOLÓGICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5211,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS CLIMÁTICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9066,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS CONTÁBEIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10117,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS DA REABILITAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (66,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS DA SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (366,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS FARMACÊUTICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6381,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS FLORESTAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11354,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS ODONTOLÓGICAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (360,'PROGRAMA DE PÓS-GRADUAÇÃO EM CIÊNCIAS SOCIAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5570,'PROGRAMA DE PÓS-GRADUAÇÃO EM DEMOGRAFIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4847,'PROGRAMA DE PÓS-GRADUAÇÃO EM DESENVOLVIMENTO E INOVAÇÃO TECNOLÓGICA EM MEDICAMENTOS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5237,'PROGRAMA DE PÓS-GRADUAÇÃO EM DESENVOLVIMENTO E MEIO AMBIENTE - PRODEMA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6968,'PROGRAMA DE PÓS-GRADUAÇÃO EM DESIGN')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (404,'PROGRAMA DE PÓS-GRADUAÇÃO EM DIREITO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4846,'PROGRAMA DE PÓS-GRADUAÇÃO EM ECOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (434,'PROGRAMA DE PÓS-GRADUAÇÃO EM ECONOMIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (363,'PROGRAMA DE PÓS-GRADUAÇÃO EM EDUCAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5591,'PROGRAMA DE PÓS-GRADUAÇÃO EM EDUCAÇÃO FÍSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10050,'PROGRAMA DE PÓS-GRADUAÇÃO EM EDUCAÇÃO FÍSICA EM REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10129,'PROGRAMA DE PÓS-GRADUAÇÃO EM EDUCAÇÃO, TRABALHO E INOVAÇÃO EM MEDICINA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7268,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENERGIA ELÉTRICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (412,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENFERMAGEM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (30029,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA AEROESPACIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4845,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA CIVIL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (105,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA DE PRODUÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (103,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA ELÉTRICA E DE COMPUTAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (104,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA MECÂNICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8086,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA MECATRÔNICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (106,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA QUÍMICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (107,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA SANITÁRIA E AMBIENTAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10480,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENGENHARIA TÊXTIL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8871,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO DE ARTES - REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9111,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO DE CIÊNCIAS E MATEMÁTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (134,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO DE CIÊNCIAS NATURAIS E MATEMÁTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9742,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO DE FÍSICA - REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9395,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO DE HISTÓRIA - REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7267,'PROGRAMA DE PÓS-GRADUAÇÃO EM ENSINO NA SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (65,'PROGRAMA DE PÓS-GRADUAÇÃO EM ESTUDOS DA LINGUAGEM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4893,'PROGRAMA DE PÓS-GRADUAÇÃO EM ESTUDOS DA MÍDIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5254,'PROGRAMA DE PÓS-GRADUAÇÃO EM ESTUDOS URBANOS E REGIONAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (364,'PROGRAMA DE PÓS-GRADUAÇÃO EM FILOSOFIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (388,'PROGRAMA DE PÓS-GRADUAÇÃO EM FÍSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4072,'PROGRAMA DE PÓS-GRADUAÇÃO EM FISIOTERAPIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10490,'PROGRAMA DE PÓS-GRADUAÇÃO EM FONOAUDIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (325,'PROGRAMA DE PÓS-GRADUAÇÃO EM GEODINÂMICA E GEOFÍSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (315,'PROGRAMA DE PÓS-GRADUAÇÃO EM GEOGRAFIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (30030,'PROGRAMA DE PÓS-GRADUAÇÃO EM GEOGRAFIA - CERES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9110,'PROGRAMA DE PÓS-GRADUAÇÃO EM GEOGRAFIA - GEOPROF - CERES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9196,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO DA INFORMAÇÃO E DO CONHECIMENTO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8084,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO DA QUALIDADE EM SERVIÇOS DE SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7513,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO DE PROCESSOS INSTITUCIONAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10482,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO E INOVAÇÃO EM SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5679,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO PÚBLICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11656,'PROGRAMA DE PÓS-GRADUAÇÃO EM GESTÃO, TRABALHO, EDUCAÇÃO E SAÚDE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (435,'PROGRAMA DE PÓS-GRADUAÇÃO EM HISTÓRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (11655,'PROGRAMA DE PÓS-GRADUAÇÃO EM HISTÓRIA/CERES')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10481,'PROGRAMA DE PÓS-GRADUAÇÃO EM INOVAÇÃO EM TECNOLOGIAS EDUCACIONAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7763,'PROGRAMA DE PÓS-GRADUAÇÃO EM LETRAS - PROFLETRAS CURRAIS NOVOS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7762,'PROGRAMA DE PÓS-GRADUAÇÃO EM LETRAS - PROFLETRAS NATAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5671,'PROGRAMA DE PÓS-GRADUAÇÃO EM MATEMÁTICA - REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2595,'PROGRAMA DE PÓS-GRADUAÇÃO EM MATEMÁTICA APLICADA E ESTATÍSTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7261,'PROGRAMA DE PÓS-GRADUAÇÃO EM MÚSICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6030,'PROGRAMA DE PÓS-GRADUAÇÃO EM NANOTECNOLOGIA FARMACÊUTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5207,'PROGRAMA DE PÓS-GRADUAÇÃO EM NEUROCIÊNCIAS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (8191,'PROGRAMA DE PÓS-GRADUAÇÃO EM NUTRIÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1760,'PROGRAMA DE PÓS-GRADUAÇÃO EM PATOLOGIA ORAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4848,'PROGRAMA DE PÓS-GRADUAÇÃO EM PRODUÇÃO ANIMAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (367,'PROGRAMA DE PÓS-GRADUAÇÃO EM PSICOBIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (64,'PROGRAMA DE PÓS-GRADUAÇÃO EM PSICOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (85,'PROGRAMA DE PÓS-GRADUAÇÃO EM QUÍMICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9493,'PROGRAMA DE PÓS-GRADUAÇÃO EM QUÍMICA - REDE NACIONAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5670,'PROGRAMA DE PÓS-GRADUAÇÃO EM SAÚDE COLETIVA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9816,'PROGRAMA DE PÓS-GRADUAÇÃO EM SAÚDE COLETIVA - FACISA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6135,'PROGRAMA DE PÓS-GRADUAÇÃO EM SAÚDE DA FAMÍLIA NO NORDESTE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10489,'PROGRAMA DE PÓS-GRADUAÇÃO EM SAÚDE E SOCIEDADE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (376,'PROGRAMA DE PÓS-GRADUAÇÃO EM SERVIÇO SOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (73,'PROGRAMA DE PÓS-GRADUAÇÃO EM SISTEMAS E COMPUTAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5579,'PROGRAMA DE PÓS-GRADUAÇÃO EM SISTEMÁTICA E EVOLUÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7872,'PROGRAMA DE PÓS-GRADUAÇÃO EM TECNOLOGIA DA INFORMAÇÃO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (4295,'PROGRAMA DE PÓS-GRADUAÇÃO EM TURISMO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2873,'PROGRAMA DE PÓS-GRADUAÇÃO INTEGRADO DE DOUTORADO EM FILOSOFIA (UFPB - UFPE - UFRN)')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5506,'PROGRAMA DE RESIDÊNCIA EM ASSISTÊNCIA MATERNOINFANTIL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5503,'PROGRAMA DE RESIDÊNCIA EM ATENÇÃO À SAÚDE DA CRIANÇA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9930,'PROGRAMA DE RESIDÊNCIA EM ATENÇÃO BÁSICA-EMCM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (30044,'PROGRAMA DE RESIDÊNCIA EM ATENÇÃO PSICOSSOCIAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9925,'PROGRAMA DE RESIDÊNCIA EM CARDIOLOGIA-HUOL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5502,'PROGRAMA DE RESIDÊNCIA EM CIRURGIA E TRAUMATOLOGIA BUCO-MAXILO-FACIAIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9929,'PROGRAMA DE RESIDÊNCIA EM SAÚDE MATERNO-INFANTIL-EMCM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5504,'PROGRAMA DE RESIDÊNCIA EM TERAPIA INTENSIVA ADULTO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5505,'PROGRAMA DE RESIDÊNCIA EM TERAPIA INTENSIVA NEONATAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10006,'PROGRAMA DE RESIDÊNCIA MÉDICA EM ANESTESIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5507,'PROGRAMA DE RESIDÊNCIA MÉDICA EM ANESTESIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5508,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CARDIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5520,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CIRURGIA DO APARELHO DIGESTIVO')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5509,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CIRURGIA GERAL')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9927,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CIRURGIA GERAL-EMCM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6075,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CIRURGIA VIDEOLAPAROSCÓPICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9928,'PROGRAMA DE RESIDÊNCIA MÉDICA EM CLÍNICA MÉDICA-EMCM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5510,'PROGRAMA DE RESIDÊNCIA MÉDICA EM DERMATOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5511,'PROGRAMA DE RESIDÊNCIA MÉDICA EM ENDOCRINOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5512,'PROGRAMA DE RESIDÊNCIA MÉDICA EM ENDOCRINOLOGIA PEDIÁTRICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5513,'PROGRAMA DE RESIDÊNCIA MÉDICA EM ENDOSCOPIA GINECOLÓGICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5521,'PROGRAMA DE RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6076,'PROGRAMA DE RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA - ENDOSCOPIA DIGESTIVA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6077,'PROGRAMA DE RESIDÊNCIA MÉDICA EM GASTROENTEROLOGIA - HEPATOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9137,'PROGRAMA DE RESIDÊNCIA MÉDICA EM GINECOLOGIA E OBSTETRÍCIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5523,'PROGRAMA DE RESIDÊNCIA MÉDICA EM GINECOLOGIA E OBSTETRÍCIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5524,'PROGRAMA DE RESIDÊNCIA MÉDICA EM INFECTOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7066,'PROGRAMA DE RESIDÊNCIA MÉDICA EM MEDICINA DA FAMÍLIA E COMUNIDADE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5525,'PROGRAMA DE RESIDÊNCIA MÉDICA EM MEDICINA DE FAMÍLIA E COMUNIDADE')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (9926,'PROGRAMA DE RESIDÊNCIA MÉDICA EM MEDICINA DE FAMÍLIA E COMUNIDADE-EMCM')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5526,'PROGRAMA DE RESIDÊNCIA MÉDICA EM NEONATOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5527,'PROGRAMA DE RESIDÊNCIA MÉDICA EM NEUROCIRURGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (6078,'PROGRAMA DE RESIDÊNCIA MÉDICA EM NEUROLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5528,'PROGRAMA DE RESIDÊNCIA MÉDICA EM NEUROLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5529,'PROGRAMA DE RESIDÊNCIA MÉDICA EM NEUROLOGIA PEDIÁTRICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5530,'PROGRAMA DE RESIDÊNCIA MÉDICA EM OFTALMOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5531,'PROGRAMA DE RESIDÊNCIA MÉDICA EM OTORRINOLARINGOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5514,'PROGRAMA DE RESIDÊNCIA MÉDICA EM PATOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (7065,'PROGRAMA DE RESIDÊNCIA MÉDICA EM PEDIATRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5516,'PROGRAMA DE RESIDÊNCIA MÉDICA EM PEDIATRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5517,'PROGRAMA DE RESIDÊNCIA MÉDICA EM PSIQUIATRIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5518,'PROGRAMA DE RESIDÊNCIA MÉDICA EM RADIOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (10120,'PROGRAMA DE RESIDÊNCIA MÉDICA EM REUMATOLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (5519,'PROGRAMA DE RESIDÊNCIA MÉDICA EM UROLOGIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (395,'PROGRAMA REGIONAL DE PÓS-GRADUAÇÃO EM CIÊNCIAS CONTÁBEIS')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (423,'PROGRAMA REGIONAL DE PÓS-GRADUAÇÃO EM DESENVOLVIMENTO E MEIO AMBIENTE - PRODEMA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (1480,'SECRETARIA DE EDUCAÇÃO A DISTÂNCIA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (2,'SUPERINTENDÊNCIA DE INFORMÁTICA')")
cursor.execute("INSERT INTO UNIDADE_ACADEMICA (ID_UNIDADE_RESPONSAVEL,UNIDADE_RESPONSAVEL) VALUES (3592,'UNIDADE CURRICULAR INTEGRADA')")

In [19]:
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000002,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000004,'CURRAIS NOVOS','Campus Currais Novos')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (15315770,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (94598200,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000005,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000123,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9291230,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000006,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000122,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000013,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6633741,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635035,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9295710,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000009,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000012,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000011,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000014,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10320810,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000015,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (102191189,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635038,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000016,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119512361,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118834827,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6633740,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87094038,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133458885,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87093989,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980267,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87093970,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86981390,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87093990,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4711440,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (3161570,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2527490,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1080250,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (3179270,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (8234990,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1085930,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6165401,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7008210,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7612820,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1308470,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7634140,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (906290,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5622610,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1152410,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2665390,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5505370,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1384330,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (899332,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2558520,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (908980,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9299260,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2669130,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5405880,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (905860,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (912010,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (120187299,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2247254,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11521680,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2818700,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980604,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980718,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (112718836,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (116158046,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980317,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980325,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86979859,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86979912,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119249870,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119250014,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86979169,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86979728,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121650822,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86981150,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86981352,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119248706,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980533,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (86980524,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (99449969,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134940269,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119186158,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1101030,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134965261,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (88353771,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1086001,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1086003,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1086002,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115285617,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (126501266,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125823462,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108837709,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104411100,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2624567,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10598020,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7264330,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2894320,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6992521,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000018,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000019,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315765,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108227148,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315767,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115845494,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9285380,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315788,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315743,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315771,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315787,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (17975012,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315774,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (110710810,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (130260440,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315777,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (132958656,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9300591,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (19018260,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9300592,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315746,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50903134,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315750,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315752,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315754,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108847150,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315758,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115789633,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (132958781,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115789618,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315760,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315728,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (95726200,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315763,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (95953799,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133179605,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (98462514,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (17565631,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315734,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315736,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (17275730,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315740,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (84739891,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (117229950,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (96146345,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104910434,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000121,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85436676,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000022,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50688664,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635041,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (13027790,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000023,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (979300,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2576632,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85322571,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85341136,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000025,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000150,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2576623,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000026,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000027,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2071220,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000029,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (17848940,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85322080,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000030,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (8068230,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000031,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85437055,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000032,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000033,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2667700,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1398140,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6182540,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (103978381,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1998296,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89232622,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2628340,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4878604,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (3578460,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5173860,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134355614,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5277960,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6546980,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11345120,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1087370,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1213760,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (975160,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11642560,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11381370,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1228840,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9240410,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87338446,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106102854,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (109093416,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (906780,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9209950,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6992520,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4669920,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1403270,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (18054220,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000034,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10601100,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000039,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635047,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000040,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000124,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000041,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635050,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10345860,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000042,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7386870,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7410980,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983484,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983502,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983497,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983491,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983505,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89983500,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2936390,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000044,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635053,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635055,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000043,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2671321,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000045,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2513900,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (96726786,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10426760,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (904142,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000159,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000047,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635057,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000046,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50913238,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635060,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2794100,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (8293230,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (8302660,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (1205190,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118835329,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50852239,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118836561,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118840295,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118922026,'CURRAIS NOVOS','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118880834,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118922626,'CURRAIS NOVOS','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118881115,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118921874,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133175344,'CURRAIS NOVOS','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (85436489,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635066,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000055,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000134,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000054,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000056,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104831949,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315764,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315784,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315766,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (507420,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115845492,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (98469607,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (101050284,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315769,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315770,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315786,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315782,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (91805256,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108416320,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (118768231,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315773,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315775,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (90156472,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (130260333,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315776,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50798281,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315781,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315779,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9513330,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315744,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315745,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50980468,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315747,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9300330,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315748,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134097165,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315749,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315751,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (101050293,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315753,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315755,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121507754,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (123079207,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315757,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11519550,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (19106930,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315759,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315727,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315789,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121804772,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315761,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315731,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134098682,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315780,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133255800,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315785,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (95868917,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (17565630,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (103197769,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315733,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (9300590,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315735,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315737,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315739,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (84739860,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115830568,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315741,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315742,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50839645,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (507421,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (91477182,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108846991,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (91346221,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (117880399,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (119342264,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (96067713,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (100181629,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106146377,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (315756,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (114941932,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113759737,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (96067701,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (108847073,'CAICÓ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113140463,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (101050603,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (97339504,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121508483,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (84798578,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133255820,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121508460,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (98199604,'CURRAIS NOVOS','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (98200045,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (84739892,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121875454,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (114310260,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (88211810,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (101644626,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000057,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635069,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000058,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (10317040,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000059,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (88752182,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000063,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000064,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50799262,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134682488,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (90764358,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89969827,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (133081614,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (135938122,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (135035650,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (904141,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (90609271,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (102160763,'SANTA CRUZ','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000066,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000144,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000067,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (111635075,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (3156200,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (130026449,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5036022,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (134975375,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7252420,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000068,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (7191770,'CAICÓ','Campus Caicó')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (117859096,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000158,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5400,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4970,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5402,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (5401,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127877945,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836332,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836370,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (94763016,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89236703,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836411,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836381,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836390,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836386,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305660,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305659,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104829374,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575692,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836160,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700152,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (91131594,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128442084,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89566524,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89236989,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104830980,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128154178,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4746394,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113586412,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127812701,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106116814,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573674,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700157,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4746305,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (97201468,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700482,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836415,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836420,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836360,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836427,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4746233,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106116842,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573659,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700483,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (110000708,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (94760623,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (116206366,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (110392658,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89569923,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (97294724,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104828480,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (4769895,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855616,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855742,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855224,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700266,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127876144,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (100755694,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (132439864,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575702,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855238,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113586304,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305806,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305770,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836299,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855738,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128872362,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836165,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836168,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836183,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700459,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305821,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573371,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104814850,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700435,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836435,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573006,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700437,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573440,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700474,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (110897348,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (90566270,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89569829,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305699,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305698,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89237318,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855831,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855737,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700457,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (11286670,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106545595,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (94730684,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128856859,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113586418,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305682,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106109510,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836375,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700419,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700415,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106573525,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700423,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700398,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700325,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127305577,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128436578,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (116228370,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305686,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121703517,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121704768,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127866117,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121707115,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (121706234,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305805,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836293,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836227,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (113586316,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305620,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305623,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855459,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305771,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700489,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836192,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (112694962,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855357,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836198,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855686,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128876059,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127875623,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (125836189,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (128435821,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (127861721,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855624,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (109365626,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (116210422,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106084911,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575712,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106580135,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575489,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575481,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575478,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (106575473,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700463,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700468,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (107700465,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (105096598,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855366,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115305815,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (104855557,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (115439980,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (50566677,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (89233245,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (87773846,'MACAÍBA','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (92127264,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000071,'CURRAIS NOVOS','Campus Currais Novos')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (2000069,'NATAL','Campus Central')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (906781,'NATAL','')")
cursor.execute("INSERT INTO LOCALIZACAO (ID_CURSO,MUNICIPIO,CAMPUS) VALUES (6358080,'MACAÍBA','')")

In [20]:
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12311,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12355,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1151028,'2014/04/11 00:00:00.000','Portaria nº 226/2014 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1188193,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12343,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (95667,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18393,'2017/06/26 00:00:00.000','Portaria nº 628/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (60288,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12313,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116514,'2013/12/30 00:00:00.000','Portaria nº 735/2013 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312332,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (120887,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 913/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12332,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12349,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12312,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12314,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116756,'2008/06/10 00:00:00.000','RESOLUÇÃO Nº083/2008-CONSEPE')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1113220,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12315,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116516,'2018/02/02 00:00:00.000','PORTARIA Nº 58, DE 2 DE FEVEREIRO DE 2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1364002,'2016/07/26 00:00:00.000','RESOLUÇÃO N°119/2016-CONSEPE, de 26 de JULHO de 2016')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116624,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116774,'2015/10/05 00:00:00.000','Portaria nº 699/2015 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116758,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12317,'2017/07/10 00:00:00.000','Portaria nº 688')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18852,'2018/02/02 00:00:00.000','PORTARIA Nº 58, DE 2 DE FEVEREIRO DE 2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (60286,'2018/10/17 00:00:00.000','PORTARIA Nº 677/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312327,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12327,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1193750,'2016/07/08 00:00:00.000','Portaria nº 293/2016 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (108486,'2015/01/02 00:00:00.000','Portaria nº 824/2014 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12326,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1127694,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1159355,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1154794,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12339,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (96878,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1157867,'2015/01/23 00:00:00.000','Portaria nº 44/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18392,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (20339,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1151610,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18853,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1113231,'2013/12/11 00:00:00.000','Portaria nº 651/2013 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1154401,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12340,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116762,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12342,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1159084,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12344,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18854,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12337,'2017/06/26 00:00:00.000','Portaria nº 628')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12328,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12321,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312321,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (99892,'2013/06/03 00:00:00.000','Portaria nº 244/2013 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12334,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312334,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116752,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12331,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116764,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (113096,'2018/11/26 00:00:00.000','PORTARIA MEC Nº 823')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1083438,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312323,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12351,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12323,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (111314,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 913/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12336,'2017/08/07 00:00:00.000','PORTARIA nº 847/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1259743,'2015/12/24 00:00:00.000','Portaria nº 1033/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116928,'2013/11/20 00:00:00.000','Portaria nº 603/2013 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1109331,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1083431,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12324,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1113228,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1299294,'2017/12/22 00:00:00.000','Art. 101 da Portaria Normativa N° 23/2017 - MEC - Proc. EMEC N° 201815303')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12350,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1170261,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 913/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (32296,'2012/12/27 00:00:00.000','Portaria nº 286/2012 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (34277,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116626,'2018/03/19 00:00:00.000','Portaria 185/2018 MEC/SERES')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116564,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (110830,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (31160,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1279038,'2017/09/27 00:00:00.000','PORTARIA Nº 1.011 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312333,'2012/12/27 00:00:00.000','Portaria nº 286/2012 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12354,'2015/12/30 00:00:00.000','Portaria nº 1098/2015 - DIREG/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (99898,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 913/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12333,'2016/12/15 00:00:00.000','Portaria nº 797/2016 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12345,'2017/12/18 00:00:00.000','Portaria MEC nº 1.345')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1202546,'2014/05/13 00:00:00.000','Portaria nº 274/2014 - SERES/MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1268383,'2018/08/15 00:00:00.000','PORTARIA MEC N° 547')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (24803,'2017/08/07 00:00:00.000','PORTARIA nº 847/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18395,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12329,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116754,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12330,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (20938,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12353,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1193519,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 913/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12316,'1976/09/15 00:00:00.000','RESOLUÇÃO Nº. 27/76 - CONSUNI')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (99896,'2013/06/03 00:00:00.000','Portaria nº 244/2013 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12335,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (312335,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (113098,'2012/10/03 00:00:00.000','Portaria nº 190/2012 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116778,'2018/08/21 00:00:00.000','PORTARIA MEC N° 566')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (12325,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (116770,'2018/12/28 00:00:00.000','Portaria MEC/SERES Nº 922/2018')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (108336,'2017/08/07 00:00:00.000','Portaria nº 847/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (1190414,'2016/05/02 00:00:00.000','Portaria nº 127/2016 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (108348,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (18394,'2017/04/04 00:00:00.000','Portaria nº 272/2017 - MEC')")
cursor.execute("INSERT INTO MEC (COD_INEP,DOU,PORTARIA_RECONHECIMENTO) VALUES (5000969,'2018/03/02 00:00:00.000','Portaria Nº 133/2018 - MEC')")

In [21]:
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000002,12311)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000004,12355)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (15315770,1151028)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (94598200,1188193)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000005,12343)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000123,95667)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000006,18393)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000122,60288)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000013,12313)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (6633741,116514)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635035,312332)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (9295710,120887)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000009,12332)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000012,12349)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000011,12312)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000014,12314)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (10320810,116756)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000015,1113220)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635038,12315)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000016,116516)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (119512361,1364002)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118834827,116624)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (7264330,116774)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (6992521,116758)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000018,12317)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000019,18852)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000121,60286)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85436676,312327)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000022,12327)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (50688664,1193750)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (13027790,108486)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000023,12326)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2576632,1127694)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85322571,1159355)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85341136,1154794)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000025,12339)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000150,96878)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2576623,1157867)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000026,18392)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000027,20339)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2071220,1151610)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000029,18853)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (17848940,1113231)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85322080,1154401)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000030,12340)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (8068230,116762)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000031,12342)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85437055,1159084)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000032,12344)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000033,18854)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000034,12337)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000039,12328)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635047,12321)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000040,312321)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000124,99892)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000041,12334)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635050,312334)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (10345860,116752)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000042,12331)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (7410980,116764)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2936390,113096)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000044,1083438)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635053,312323)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635055,12351)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000043,12323)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2671321,111314)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000045,12336)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (96726786,1259743)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (10426760,116928)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000159,1109331)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000047,1083431)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635057,12324)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000046,1113228)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (50913238,1299294)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635060,12350)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (50852239,1170261)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118836561,32296)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118840295,34277)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118922026,116626)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118880834,116564)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118922626,110830)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118881115,31160)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (118921874,1279038)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (85436489,312333)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000055,12354)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000134,99898)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000054,12333)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000056,12345)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (104831949,1202546)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (101644626,1268383)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000057,24803)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635069,18395)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000058,12329)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (10317040,116754)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000059,12330)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000063,20938)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000064,12353)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (50799262,1193519)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000066,12316)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000144,99896)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000067,12335)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (111635075,312335)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (3156200,113098)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (7252420,116778)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000068,12325)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (7191770,116770)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000158,108336)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (92127264,1190414)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000071,108348)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (2000069,18394)")
cursor.execute("INSERT INTO CURSO_MEC (ID_CURSO,COD_INEP) VALUES (6358080,5000969)")

In [22]:
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (20894,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (24415,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23122,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757908,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754935,5967)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754342,195)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756425,5206)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753581,363)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756800,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754967,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757099,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752697,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755388,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753646,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23169,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (2305973,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26118,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752554,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752008,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756922,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757780,4885)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758532,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754627,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22941,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5759402,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758472,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26321,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756811,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752875,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23144,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756882,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (25967,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26245,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753054,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753046,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5760173,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757053,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758779,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753655,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757048,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758350,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753340,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755418,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (18408,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753706,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757810,440)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (21846,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754954,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752298,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757889,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758443,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5760170,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (18678,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756372,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754607,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753661,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755477,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (2296724,445)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (25988,235)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752271,4295)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (24415,236)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752792,4880)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (127199,4880)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (24386,117)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (2301337,395)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752986,395)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757138,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (25454,181)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26212,366)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752155,199)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757144,47)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752917,284)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22150,199)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26152,195)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23112,198)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (37428,84)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23664,404)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758745,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (4274563,404)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753026,84)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752234,363)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5041557,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (74509,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752667,115)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757891,115)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753688,234)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753667,120)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (34240,284)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758001,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757959,236)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755033,199)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752711,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (2261772,201)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755473,201)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752154,201)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752278,138)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756416,201)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752909,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757853,11612)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22739,74)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756357,63)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752206,202)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757625,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753576,161)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756793,5679)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752554,235)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753860,5679)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752003,117)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756312,195)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753006,5205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753093,7847)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (37484,138)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757898,7847)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (20885,161)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26546,181)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753402,79)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5760304,4880)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753008,1483)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752553,140)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752231,195)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (2257775,195)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756718,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752210,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752506,367)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755281,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755812,5591)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753878,236)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26045,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752264,9109)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752026,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755467,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22937,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752753,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752237,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752750,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5751879,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752176,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756851,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758780,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753072,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758814,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22722,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5759417,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758430,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758533,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (20793,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23198,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755561,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756363,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (25154,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22163,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752683,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26221,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (25607,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756347,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754981,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757966,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754632,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752165,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5760225,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758764,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757652,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (17497,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755053,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757217,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755581,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753667,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (22757,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756244,7278)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756337,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752855,284)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (21707,284)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (130251,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5760257,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26070,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758394,5965)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758826,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755991,5965)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756946,4890)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753575,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753597,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26034,439)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (23809,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757883,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5751828,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757090,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757438,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5759298,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753090,404)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (24837,7278)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754400,441)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (26160,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (15373,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5758607,442)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5332355,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (75734,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5751560,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753527,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5752857,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (24939,351)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753543,8919)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754639,8919)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5755565,8919)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5753659,8919)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757106,205)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5757620,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756776,1482)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5756426,443)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5759593,6069)")
cursor.execute("INSERT INTO COORDENADOR_UNIDADE (ID_COORDENADOR,ID_UNIDADE_RESPONSAVEL) VALUES (5754347,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000002,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000004,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (15315770,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94598200,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123041053,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5049081,160)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123907274,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130818692,5967)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98400995,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99582905,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90723724,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134493666,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135860936,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124880396,197)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124895528,409)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130027665,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135650946,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (92843489,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98641137,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124922102,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117438135,7278)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000005,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000123,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99413191,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126946116,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97605099,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9291230,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95739909,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000006,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100097561,366)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000122,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000013,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6633741,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635035,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9295710,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000009,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000012,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000011,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000014,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10320810,4885)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000015,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (102191189,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635038,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2163123,5285)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51497566,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136155633,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000016,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119512361,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118834827,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6633740,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51003665,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115828700,409)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87094038,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133458885,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87093989,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980267,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87093970,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86981390,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87093990,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4711440,3202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3161570,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2527490,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1080250,2856)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3179270,177)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (8234990,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1085930,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6165401,159)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7008210,159)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7612820,4652)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1308470,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124758134,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124522223,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7634140,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (906290,1609)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5622610,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (13486010,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1152410,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2665390,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5505370,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1384330,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (899332,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2558520,1618)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129738043,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2365305,105)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (908980,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123432493,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9299260,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2669130,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5405880,120)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4170990,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (905860,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (20214620,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (912010,412)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120187299,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2252975,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (13085351,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2247254,125)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11521680,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2818700,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980604,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980718,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (112718836,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116158046,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980317,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980325,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86979859,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86979912,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119249870,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119250014,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86979169,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86979728,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121650822,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86981150,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86981352,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119248706,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980533,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96690272,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86980524,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99449969,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129346781,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129614610,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129593359,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134940269,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119186158,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135192457,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1101030,1591)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134965261,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88353771,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96054058,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1086001,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1086003,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1086002,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115285617,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126501266,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125823462,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108837709,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104411100,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2624567,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10598020,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100892419,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7264330,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106619252,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2894320,3202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6992521,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (122921357,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000018,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000019,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130598333,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130602745,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130399494,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120645059,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120202645,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2211049,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117508551,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113661131,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315765,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108227148,1442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315767,102)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115845494,9814)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9285380,1639)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315788,3014)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315743,73)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315771,68)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315787,2598)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17975012,5211)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315774,66)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110710810,366)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130260440,11354)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315777,360)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132958656,5570)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9300591,4847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (19018260,5237)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9300592,4846)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315746,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50903134,412)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315750,103)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315752,104)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315754,106)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108847150,9111)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315758,65)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115789633,4893)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132958781,5254)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115789618,364)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315760,2873)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315728,388)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95726200,4072)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315763,325)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95953799,315)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133179605,435)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98462514,6030)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17565631,5207)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315734,1760)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315736,367)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17275730,64)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315740,85)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84739891,5670)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117229950,376)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96146345,5579)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104910434,4295)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000121,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127242379,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101012784,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85436676,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000022,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50688664,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635041,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130816499,5967)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123036166,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (13027790,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000023,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (979300,198)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124763322,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2576632,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85322571,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85341136,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000025,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000150,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2576623,440)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000026,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000027,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2071220,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000029,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100339822,52)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17848940,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85322080,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000030,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (8068230,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000031,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85437055,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000032,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000033,445)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16685330,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2667700,159)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (122659999,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123345257,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1398140,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6182540,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130050604,234)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89444585,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135294364,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135288404,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123354684,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (122072767,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121636855,7261)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103978381,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1998296,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89232622,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134583967,235)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121430691,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2628340,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51277174,159)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126255120,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132080053,234)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126907290,4295)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115295700,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (137488470,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (137496442,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (138139175,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127791717,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106245618,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106660409,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118076413,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130618653,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (131890753,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4742984,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97262498,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124347948,198)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115402519,141)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95771235,141)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96076672,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4878604,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3578460,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (114762632,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101359674,5610)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130422199,395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129767318,395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97598424,395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116474785,9066)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87272466,395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127931091,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107259247,395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89558214,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105643188,56)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91384307,56)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134262252,181)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95740299,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50659936,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118173593,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125323179,366)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105720615,366)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134010679,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133960235,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133952812,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133999743,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133957713,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133995445,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133963580,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95197392,192)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (138156167,47)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98708953,5570)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84903718,177)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99697792,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115259542,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136737916,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128388032,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90334354,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85078961,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (92587939,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17519780,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5173860,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121637007,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120050084,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127547347,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101023063,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134355614,198)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115769184,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100300443,2)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116365925,56)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107751989,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126860757,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118720334,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85075974,139)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120207379,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115114859,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130606851,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91310418,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120655249,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107590635,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129678016,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90239418,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98721418,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85378701,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132991240,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100365235,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109727524,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5032219,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134776267,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90296038,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100368839,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107607888,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95713894,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128876049,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2821199,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91861738,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105104013,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98042783,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96435811,160)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100183927,160)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96520440,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5277960,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100115448,181)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88359602,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101013233,5967)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107183983,5968)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (137776743,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95796201,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2249855,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98461888,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2062116,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89918597,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3410226,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109917488,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108087170,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98759568,136)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51004048,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6546980,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11345120,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95872651,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17975011,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84696044,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118269716,198)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128551505,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125694869,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135222431,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117430697,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (138719355,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129021225,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117439917,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1087370,52)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117709917,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93999856,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91506283,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101197753,5968)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96030942,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50596944,1480)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2684664,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117478974,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50663976,137)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104438498,137)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130644624,234)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106836176,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97989821,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104463617,120)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130962291,120)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135424522,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123381093,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111285585,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103878435,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104439089,136)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117783900,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94372864,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127324390,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109957345,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117700770,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97258649,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (14172150,196)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90275796,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85417248,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123686055,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129053738,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103323466,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130093645,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115839556,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132254127,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89971045,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17975010,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104177648,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123701410,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97605312,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125780737,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85245427,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97260682,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106396861,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120250336,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132295567,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127903565,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126152863,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130946437,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117829636,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103733017,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118948921,234)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106806058,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88414039,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121224303,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133839306,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2274700,52)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (131154970,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95825620,180)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97911871,235)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (15315771,315)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100665439,196)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (122791158,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110721137,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90343896,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88376323,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1213760,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115828584,409)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98789276,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121642348,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136580718,11612)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117160376,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104720950,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100350606,2)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130729753,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113505772,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127034870,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126778707,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104767988,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91779180,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91501784,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129869375,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (975160,3592)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11642560,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106519681,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2236617,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98732812,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115749236,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120660077,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104367740,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120896111,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96980770,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126991428,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94643896,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95236906,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109866665,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98732703,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93657119,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107074853,5254)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16431542,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129304523,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133472833,235)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95590562,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16431540,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129763788,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90409884,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11381370,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4847468,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99266675,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136798654,117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87357281,5486)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123983886,5486)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103333394,5486)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100640964,1488)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130522731,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110468980,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124986610,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103611582,5205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132256339,5205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (99065732,5968)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97936584,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91609267,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91709533,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115841925,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2682408,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124690912,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124688884,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124691014,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118952993,5206)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1228840,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133274041,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9240410,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106300063,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90314721,65)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (20380590,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98466314,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2177613,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89255875,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130370088,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108183561,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98807653,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84750896,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123848930,1488)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (86837680,1488)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127378593,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109150298,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95817352,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87338446,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106102854,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109093416,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98435699,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91612391,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124439078,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98404575,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (131056481,181)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4875449,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98662431,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91908159,1589)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90531398,54)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96151812,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96204672,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118365771,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50623435,1480)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128400568,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2561057,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90661871,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2561053,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129222849,79)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124710767,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100318441,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (137985568,4880)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111254589,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100386226,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51331647,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125943880,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95554398,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128032227,1483)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94648773,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109704237,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (114555079,9066)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2205363,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96684274,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (906780,2773)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128492008,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16513390,162)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9209950,412)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105684527,424)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105685071,424)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124724483,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106564940,5967)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105623475,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93825928,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128410588,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116663609,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128027353,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (13085350,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98547467,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89523094,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113807871,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2642948,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6992520,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107445010,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89384131,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124403674,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96006290,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119899375,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (18284011,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94649779,6381)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115236835,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116293682,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126770118,7278)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115483198,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125011124,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135632698,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125048719,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50634872,1480)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (137506645,367)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4669920,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130230224,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (51323178,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124294922,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91702313,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108221947,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115051086,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136927939,5591)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108920134,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121221352,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121413932,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (112435050,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135835524,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128572087,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3430702,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96911886,199)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117029625,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125826893,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127177289,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1403270,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (18054220,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000034,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4808457,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10601100,1698)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000039,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635047,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000040,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90026936,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90051527,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89826704,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90021814,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90023843,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90045186,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90051524,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90057719,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90028754,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000124,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000041,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635050,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10345860,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000042,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89970992,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2689633,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85898233,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (131773400,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7386870,2828)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7410980,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983484,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983502,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983497,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983491,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983505,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89983500,6042)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97114483,11)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127903029,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16850590,196)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117828098,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2936390,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000044,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635053,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635055,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000043,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2671321,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000045,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106263062,52)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115231399,201)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95652568,180)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2513900,142)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2279476,163)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (14026060,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96726786,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10426760,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121621462,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121196477,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115153604,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121608550,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121301194,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130644692,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130598383,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (126757910,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3095921,202)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129707729,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98732711,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120659688,236)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (904142,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (14940010,63)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84933830,4295)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000159,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94304911,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132256356,5205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98984072,5486)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000047,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635057,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000046,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50913238,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635060,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98907860,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2794100,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (8293230,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (18284012,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16802810,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117810389,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2270667,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89308464,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (14060530,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (8302660,84)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129786422,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129786738,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130254049,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129141688,5205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (1205190,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118835329,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130272217,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50852239,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118836561,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118840295,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118922026,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118880834,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118922626,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118881115,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118921874,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133175344,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120034266,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136088918,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90311125,65)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90310685,65)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89444835,138)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135463721,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135464822,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135464408,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135449709,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135342715,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124439083,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120996572,136)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (85436489,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635066,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000055,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000134,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000054,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127083477,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (16365610,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000056,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104831949,7278)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (131039818,181)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315764,74)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315784,1442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315766,102)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (507420,4073)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115845492,9814)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98469607,7805)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101050284,8085)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315769,1639)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315770,68)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315786,2598)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315782,431)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91805256,5211)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108416320,9066)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118768231,10117)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315773,66)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315775,366)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90156472,6381)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130260333,11354)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315776,360)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50798281,5570)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315781,423)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315779,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9513330,4846)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315744,434)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315745,363)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50980468,5591)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315747,412)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9300330,4845)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315748,105)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134097165,30029)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315749,103)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315751,104)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101050293,8086)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315753,106)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315755,107)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121507754,10480)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123079207,9111)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315757,65)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11519550,4893)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (19106930,5254)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315759,364)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315727,388)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315789,4072)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121804772,10490)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315761,325)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315731,315)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134098682,30030)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315780,435)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133255800,11655)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315785,2595)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (95868917,7261)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (17565630,5207)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (103197769,8191)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315733,1760)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (9300590,4848)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315735,367)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315737,64)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315739,85)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84739860,5670)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115830568,9816)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315741,376)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315742,73)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50839645,5579)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (507421,4295)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91477182,6967)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108846991,9109)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91346221,6968)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117880399,10050)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (119342264,10129)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96067713,7268)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100181629,7872)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106146377,8871)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (315756,134)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (114941932,9742)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113759737,9395)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (96067701,7267)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108847073,9110)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113140463,9196)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101050603,8084)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97339504,7513)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121508483,10482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84798578,5679)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133255820,11656)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121508460,10481)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98199604,7763)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (98200045,7762)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (84739892,5671)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121875454,10489)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (114310260,9493)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88211810,6135)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101644626,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90519113,54)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106959927,121)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000057,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635069,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128399752,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (120996533,161)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000058,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (10317040,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129001038,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2228067,182)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000059,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88752182,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000063,5965)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000064,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50799262,5965)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127562866,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127907607,1483)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105113657,424)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134682488,30040)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93455349,115)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90764358,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89969827,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133081614,11619)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (101080278,11)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135938122,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135035650,30044)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117632336,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116740135,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93262777,7066)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (93262776,7065)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118776383,10120)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (904141,144)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90937674,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105602524,140)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90609271,1483)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127915115,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127888738,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (102160763,4890)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000066,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124336554,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89384045,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89384114,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (129109516,1452)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000144,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000067,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (111635075,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (3156200,439)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2499607,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (130026449,11351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117522695,10006)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036021,5506)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036022,5503)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724075,9930)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724070,9925)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036023,5502)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117972362,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94676386,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724074,9929)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132855180,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121327189,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125496087,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125109770,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136188561,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136204657,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (135098790,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (133771177,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136093029,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132855229,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036024,5504)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036025,5505)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136947895,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125003506,79)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (123924877,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97144789,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108428903,404)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116285516,7278)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036027,5507)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036026,5508)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036028,5509)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724072,9927)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88337492,6075)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036029,5520)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724073,9928)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036030,5510)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036031,5511)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036032,5512)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036033,5513)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134975375,5521)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88337493,6076)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88337494,6077)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110378615,9137)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036038,5523)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036039,5524)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036040,5525)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116724071,9926)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036041,5526)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036042,5527)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (88337495,6078)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036043,5528)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036044,5529)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036045,5530)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036046,5531)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5048042,5514)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036034,5516)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036035,5517)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036036,5518)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5036037,5519)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2060661,5277)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115820116,7278)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7252420,441)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000068,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2069728,197)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (7191770,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104281175,136)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127662526,195)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117859096,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000158,442)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5400,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4970,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5402,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (5401,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127877945,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836332,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836370,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94763016,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89236703,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836411,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836381,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836390,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836386,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084697,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305660,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305659,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104829374,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575692,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836160,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700152,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91131594,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128442084,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89566524,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89236989,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104830980,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128154178,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4746394,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113586412,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127812701,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106116814,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573674,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700157,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (108814299,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4746305,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97201468,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700482,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836415,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836420,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836360,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836427,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4746233,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106116842,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573659,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700483,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110000708,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94760623,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116206366,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084762,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110392658,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89569923,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (97294724,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104828480,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (4769895,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855616,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855742,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855224,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700266,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100755713,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127876144,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (100755694,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (132439864,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575702,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855238,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113586304,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305806,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305770,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836299,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855738,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128872362,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836165,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836168,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836183,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700459,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305821,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084853,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573371,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104814850,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700435,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836435,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573006,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700437,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573440,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700474,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (110897348,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (90566270,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89569829,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084882,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106572709,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305699,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305698,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89237318,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855831,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855737,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700457,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (11286670,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106545595,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (94730684,284)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128856859,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113586418,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305682,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106109510,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836375,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700419,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700415,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106573525,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700423,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700398,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700325,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127305577,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128436578,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116228370,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305686,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121703517,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121704768,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127866117,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121707115,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (121706234,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084908,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575543,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305805,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836293,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836227,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (113586316,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305620,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305623,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855459,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305771,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700489,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836192,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (112694962,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855357,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836198,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855686,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128876059,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127875623,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (125836189,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128435821,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (127861721,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855624,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (109365626,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116210422,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106084911,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575712,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106580135,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575489,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575481,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575478,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (106575473,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700463,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700468,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (107700465,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105096598,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855366,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115305815,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (104855557,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (115439980,8919)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (50566677,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (89233245,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (87773846,351)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (92127264,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (91383229,5968)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (118244598,7847)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (105492472,144)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136921336,5591)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (136180327,5591)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000071,1482)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (2000069,443)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (128571097,205)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (18284010,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (906781,193)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (124211342,143)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117515580,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (117512222,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (138696688,6069)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (116634010,1589)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (134723981,3586)")
cursor.execute("INSERT INTO CURSO_UNIDADE (ID_CURSO,ID_UNIDADE_RESPONSAVEL) VALUES (6358080,351)")

http://dados.gov.br/dataset/cursos-ufrn

# 4. Diagrama ER


---

<img src="img.png">

### Notação Diagrama:

<img src="img0.png">

# 5. Diagrama Relacional


---

**COORDENADOR**( ID_COORDENADOR, NOME_COORDENADOR)

*Chave primária: ID_COORDENADOR*

**CURSO**( ID_CURSO, NOME_CURSO, SITUACAO_CURSO, NIVEL_ENSINO, MODALIDADE_EDUCACAO)

*Chave primária:ID_CURSO*

**OFERTA**( ID_CURSO, GRAU_ACADEMICO, AREA_CONHECIMENTO, TIPO_OFERTA, TIPO_CICLO_FORMACAO, DATA_FUNCIONAMENTO)

*Chave primária:ID_CURSO*

OFERTA.ID_CURSO -> CURSO-ID_CURSO

**TURNO**(ID_TURNO, NOME_TURNO)

*Chave primária:ID_TURNO*

**UNIDADE_ACADEMICA**(ID_UNIDADE_RESPONSAVEL, UNIDADE_RESPONSAVEL)

*Chave primária:ID_UNIDADE_RESPONSAVEL*

**LOCALIZACAO**(ID_CURSO, MUNICIPIO, CAMPUS)

*Chave primária:ID_CURSO*

LOCALIZACAO.ID_CURSO -> CURSO.ID_CURSO

**MEC**(COD_INEP, DOU, PORTARIA_RECONHECIMENTO)

*Chave primária:COD_INEP*

**COORDENADOR_UNIDADE**(ID_COORDERNADOR, ID_UNIDADE_RESPONSAVEL) (N-N)

*Chave primária:ID_COORDENADOR, ID_UNIDADE_RESPONSAVEL*

COORDENADOR_UNIDADE.ID_COORDERNADOR -> COORDERNADOR.ID_COORDERNADOR

COORDENADOR_UNIDADE.ID_UNIDADE -> UNIDADE_academica.ID_COORDERNADOR

**CURSO_UNIDADE** (ID_CURSO, ID_UNIDADE_RESPONSAVEL) (1-N)

*Chave primária:ID_CURSO*

CURSO_UNIDADE.ID_CURSO -> CURSO.ID_CURSO

CURSO_UNIDADE.ID_UNIDADE_RESPONSAVEL -> UNIDADE_ACADEMICA.ID_UNIDADE_RESPONSAVEL

**CURSO_MEC**(ID_CURSO, COD_INEP)(1-1)

*Chave primária:ID_CURSO*

CURSO_MEC.ID_CURSO -> CURSO.ID_CURSO

CURSO_MEC.COD_INEP ->MEC.COD_INEP

**CURSO_TURNO**(ID_CURSO, ID_TURNO)(N-N)

*Chave primária:ID_CURSO, ID_TURNO*

CURSO_TURNO.ID_CURSO -> CURSO.ID_CURSO

CURSO_TURNO.ID_TURNO -> TURNO.ID_TURNO

# 6. Consultas


---

## 6.1. Consultas envolvendo seleção e projeção

### 6.1.1. Retorne o nome cursos oferecidos à distancia.

In [23]:
%time
df = pd.read_sql_query("SELECT NOME_CURSO FROM CURSO " +
                       "WHERE MODALIDADE_EDUCACAO = 'A Distância' " +
                       "", conn)
df

CPU times: user 5 µs, sys: 0 ns, total: 5 µs
Wall time: 10.3 µs

                                           NOME_CURSO
0                               ADMINISTRAÇÃO PÚBLICA
1   APERFEIÇOAMENTO EM EDUCAÇÃO, POBREZA E DESIGUA...
2   APERFEIÇOAMENTO EM GESTÃO DE POLÍTICA DE DST A...
3                 APERFEIÇOAMENTO EM SAÚDE DA FAMÍLIA
4                                 CIÊNCIAS BIOLÓGICAS
..                                                ...
82  TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA...
83  TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA...
84              TÉCNICO EM MULTIMEIOS DIDÁTICOS E-TEC
85                                 TECNICO EM QUIMICA
86  TÉCNICO EM SECRETARIA ESCOLAR A DISTÂNCIA - E-TEC

[87 rows x 1 columns]

In [24]:
%time
dff = pd.read_sql_query("SELECT NOME_CURSO FROM " +
                        "(SELECT NOME_CURSO, MODALIDADE_EDUCACAO  FROM CURSO )" +
                       "WHERE MODALIDADE_EDUCACAO = 'A Distância' " +
                       "", conn)
dff

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.58 µs

                                           NOME_CURSO
0                               ADMINISTRAÇÃO PÚBLICA
1   APERFEIÇOAMENTO EM EDUCAÇÃO, POBREZA E DESIGUA...
2   APERFEIÇOAMENTO EM GESTÃO DE POLÍTICA DE DST A...
3                 APERFEIÇOAMENTO EM SAÚDE DA FAMÍLIA
4                                 CIÊNCIAS BIOLÓGICAS
..                                                ...
82  TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA...
83  TÉCNICO EM MANUTENÇÃO E SUPORTE EM INFORMÁTICA...
84              TÉCNICO EM MULTIMEIOS DIDÁTICOS E-TEC
85                                 TECNICO EM QUIMICA
86  TÉCNICO EM SECRETARIA ESCOLAR A DISTÂNCIA - E-TEC

[87 rows x 1 columns]

### 6.1.2. Retorne o identificador dos cursos oferecidos em CURRAIS NOVOS

In [25]:
%time
df = pd.read_sql_query("SELECT ID_CURSO FROM LOCALIZACAO " +
                       "WHERE MUNICIPIO = 'CURRAIS NOVOS' " +
                       "", conn)
df

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

    ID_CURSO
0    2000004
1  118922026
2  118922626
3  133175344
4   98199604
5    2000071

In [26]:
%time
dff = pd.read_sql_query("SELECT ID_CURSO FROM  " +
                        "(SELECT ID_CURSO, MUNICIPIO " +
                        "FROM LOCALIZACAO )" +
                       "WHERE MUNICIPIO = 'CURRAIS NOVOS' " +
                       "", conn)
dff

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.48 µs

    ID_CURSO
0    2000004
1  118922026
2  118922626
3  133175344
4   98199604
5    2000071

## 6.2. Consultas envolvendo junção 2 relações

### 6.2.1 Quantos cursos são oferecidos pela unidade acadêmica Ciências da Saúde?

In [27]:
%time
df = pd.read_sql_query("SELECT COUNT(CURSO.ID_CURSO) AS QTD_CURSOS " +
                       "FROM CURSO JOIN CURSO_UNIDADE ON CURSO.ID_CURSO=CURSO_UNIDADE.ID_CURSO " +
                       "JOIN UNIDADE_ACADEMICA ON CURSO_UNIDADE.ID_UNIDADE_RESPONSAVEL=UNIDADE_ACADEMICA.ID_UNIDADE_RESPONSAVEL " +
                       "WHERE UNIDADE_RESPONSAVEL LIKE 'CENTRO DE CIÊNCIAS DA SAÚDE' " +
                       "", conn)
df

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 8.11 µs

   QTD_CURSOS
0          13

In [28]:
%time
dff = pd.read_sql_query( "SELECT SUM(N_CURSO) FROM ("
                        "SELECT COUNT(*) AS N_CURSO , ID_CURSO, UNIDADE_RESPONSAVEL " +
                        "FROM UNIDADE_ACADEMICA NATURAL JOIN CURSO_UNIDADE " +
                        "WHERE UNIDADE_RESPONSAVEL = 'CENTRO DE CIÊNCIAS DA SAÚDE' " +
                        "GROUP BY ID_CURSO )", conn)
dff

CPU times: user 3 µs, sys: 1e+03 ns, total: 4 µs
Wall time: 7.39 µs

   SUM(N_CURSO)
0            13

### 6.2.2 Retorne o nome dos cursos oferecidos apenas no turno Vespertino.

In [29]:
%time
df = pd.read_sql_query("SELECT DISTINCT NOME_CURSO " +
                       "FROM CURSO JOIN CURSO_TURNO ON CURSO.ID_CURSO=CURSO_TURNO.ID_CURSO " +
                       "JOIN TURNO ON CURSO_TURNO.ID_TURNO=TURNO.ID_TURNO " +
                       "WHERE NOME_TURNO LIKE 'Vespertino' " +
                       "", conn)
df

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

                  NOME_CURSO
0              ADMINISTRAÇÃO
1    ARQUITETURA E URBANISMO
2              ARTES VISUAIS
3            BIBLIOTECONOMIA
4                BIOMEDICINA
5      CIÊNCIA DA COMPUTAÇÃO
6        CIÊNCIAS BIOLÓGICAS
7         COMUNICAÇÃO SOCIAL
8                    DIREITO
9                   ECOLOGIA
10           EDUCAÇÃO FÍSICA
11                ENFERMAGEM
12          ENGENHARIA CIVIL
13  ENGENHARIA DE COMPUTAÇÃO
14   ENGENHARIA DE MATERIAIS
15    ENGENHARIA DE PRODUÇÃO
16       ENGENHARIA ELÉTRICA
17       ENGENHARIA MECÂNICA
18        ENGENHARIA QUÍMICA
19         ENGENHARIA TÊXTIL
20                  FARMÁCIA
21                    FÍSICA
22              FISIOTERAPIA
23                 GEOFÍSICA
24                 GEOGRAFIA
25                  GEOLOGIA
26         GESTÃO HOSPITALAR
27                  HISTÓRIA
28                MATEMÁTICA
29                  MEDICINA
30                    MÚSICA
31                  NUTRIÇÃO
32               ODONTOLOGIA
33                 PEDAGOGIA
34                PSICOLOGIA
35                   QUÍMICA
36       QUÍMICA DO PETRÓLEO
37            SERVIÇO SOCIAL
38                   TURISMO

In [30]:
%time
dff = pd.read_sql_query("SELECT DISTINCT NOME_CURSO " +
                       "FROM (SELECT ID_CURSO, NOME_CURSO FROM CURSO ) " + 
                       "NATURAL JOIN CURSO_TURNO " +
                       "NATURAL JOIN TURNO " +
                       "WHERE NOME_TURNO='Vespertino' " +
                       "", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.63 µs

                  NOME_CURSO
0              ADMINISTRAÇÃO
1    ARQUITETURA E URBANISMO
2              ARTES VISUAIS
3            BIBLIOTECONOMIA
4                BIOMEDICINA
5      CIÊNCIA DA COMPUTAÇÃO
6        CIÊNCIAS BIOLÓGICAS
7         COMUNICAÇÃO SOCIAL
8                    DIREITO
9                   ECOLOGIA
10           EDUCAÇÃO FÍSICA
11                ENFERMAGEM
12          ENGENHARIA CIVIL
13  ENGENHARIA DE COMPUTAÇÃO
14   ENGENHARIA DE MATERIAIS
15    ENGENHARIA DE PRODUÇÃO
16       ENGENHARIA ELÉTRICA
17       ENGENHARIA MECÂNICA
18        ENGENHARIA QUÍMICA
19         ENGENHARIA TÊXTIL
20                  FARMÁCIA
21                    FÍSICA
22              FISIOTERAPIA
23                 GEOFÍSICA
24                 GEOGRAFIA
25                  GEOLOGIA
26         GESTÃO HOSPITALAR
27                  HISTÓRIA
28                MATEMÁTICA
29                  MEDICINA
30                    MÚSICA
31                  NUTRIÇÃO
32               ODONTOLOGIA
33                 PEDAGOGIA
34                PSICOLOGIA
35                   QUÍMICA
36       QUÍMICA DO PETRÓLEO
37            SERVIÇO SOCIAL
38                   TURISMO

### 6.2.3 Retorne o nome e o identificador dos cursos ofertados a partir de 1990.

In [31]:
%time
dff = pd.read_sql_query("SELECT 	NOME_CURSO, ID_CURSO " +
                       "FROM OFERTA NATURAL JOIN CURSO " +
                       "WHERE DATA_FUNCIONAMENTO >= '1990/01/01 00:00:00.000' ", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.87 µs

                  NOME_CURSO   ID_CURSO
0                BIOMEDICINA    2000122
1                    DIREITO    2000019
2                   ECOLOGIA    2000121
3    ENGENHARIA DE ALIMENTOS    2000150
4   ENGENHARIA DE COMPUTAÇÃO    2000026
5    ENGENHARIA DE MATERIAIS    2000027
6     ENGENHARIA DE PRODUÇÃO    2000029
7          ENGENHARIA TÊXTIL    2000033
8                  GEOFÍSICA    2936390
9                  GEOGRAFIA    2671321
10         GESTÃO HOSPITALAR    2000159
11                MATEMÁTICA    2000134
12                    MÚSICA    2000057
13                    MÚSICA  111635069
14                PSICOLOGIA    2000066
15                   QUÍMICA    2000144
16       QUÍMICA DO PETRÓLEO    3156200
17                    TEATRO    2000158
18                   TURISMO    2000071
19                   TURISMO    2000069

In [32]:
%time
dff = pd.read_sql_query("SELECT 	NOME_CURSO, ID_CURSO " +
                        "FROM (SELECT NOME_CURSO, CURSO.ID_CURSO, DATA_FUNCIONAMENTO "
                       "FROM OFERTA JOIN CURSO ON OFERTA.ID_CURSO = CURSO.ID_CURSO )" +
                       "WHERE DATA_FUNCIONAMENTO >= '1990/01/01 00:00:00.000' ", conn)
dff

CPU times: user 15 µs, sys: 1 µs, total: 16 µs
Wall time: 20.3 µs

                  NOME_CURSO   ID_CURSO
0                BIOMEDICINA    2000122
1                    DIREITO    2000019
2                   ECOLOGIA    2000121
3    ENGENHARIA DE ALIMENTOS    2000150
4   ENGENHARIA DE COMPUTAÇÃO    2000026
5    ENGENHARIA DE MATERIAIS    2000027
6     ENGENHARIA DE PRODUÇÃO    2000029
7          ENGENHARIA TÊXTIL    2000033
8                  GEOFÍSICA    2936390
9                  GEOGRAFIA    2671321
10         GESTÃO HOSPITALAR    2000159
11                MATEMÁTICA    2000134
12                    MÚSICA    2000057
13                    MÚSICA  111635069
14                PSICOLOGIA    2000066
15                   QUÍMICA    2000144
16       QUÍMICA DO PETRÓLEO    3156200
17                    TEATRO    2000158
18                   TURISMO    2000071
19                   TURISMO    2000069

## 6.3 Consultas envolvendo junção mínimo 3 relações

### 6.3.1 Retorne a unidade acadêmica e o nome dos cursos liberados pelo  Diário Oficial da União depois de 2018.

In [33]:
%time
dff = pd.read_sql_query("SELECT 	UNIDADE_RESPONSAVEL, NOME_CURSO " +
                       "FROM (SELECT 	UNIDADE_RESPONSAVEL, NOME_CURSO, DOU " +
                       "FROM UNIDADE_ACADEMICA NATURAL JOIN CURSO_UNIDADE "+
                        "NATURAL JOIN CURSO "+
                        "NATURAL JOIN CURSO_MEC "+
                        "NATURAL JOIN MEC) " +
                       "WHERE DOU >= '2018/01/01 00:00:00.000' ", conn)
dff

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 5.25 µs

                           UNIDADE_RESPONSAVEL                             NOME_CURSO
0                   ESCOLA AGRÍCOLA DE JUNDIAÍ  ANÁLISE E DESENVOLVIMENTO DE SISTEMAS
1                         CENTRO DE TECNOLOGIA                ARQUITETURA E URBANISMO
2   CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES                          ARTES VISUAIS
3                        CENTRO DE BIOCIÊNCIAS                            BIOMEDICINA
4         CENTRO DE CIÊNCIAS EXATAS E DA TERRA                  CIÊNCIA DA COMPUTAÇÃO
..                                         ...                                    ...
60        CENTRO DE CIÊNCIAS EXATAS E DA TERRA                                QUÍMICA
61                 CENTRO DE CIÊNCIAS DA SAÚDE                         SAÚDE COLETIVA
62        CENTRO DE CIÊNCIAS SOCIAIS APLICADAS                         SERVIÇO SOCIAL
63        CENTRO DE  ENSINO SUPERIOR DO SERIDÓ                 SISTEMAS DE INFORMAÇÃO
64                  ESCOLA AGRÍCOLA DE JUNDIAÍ                              ZOOTECNIA

[65 rows x 2 columns]

In [34]:
%time
dff = pd.read_sql_query("SELECT 	UNIDADE_RESPONSAVEL, NOME_CURSO " +
                       "FROM UNIDADE_ACADEMICA JOIN CURSO_UNIDADE ON UNIDADE_ACADEMICA.ID_UNIDADE_RESPONSAVEL = CURSO_UNIDADE.ID_UNIDADE_RESPONSAVEL "+
                        "JOIN CURSO ON CURSO.ID_CURSO = CURSO_UNIDADE.ID_CURSO "+
                        "JOIN CURSO_MEC ON CURSO.ID_CURSO = CURSO_MEC.ID_CURSO "+
                        "JOIN MEC ON CURSO_MEC.COD_INEP = MEC.COD_INEP  " +
                       "WHERE DOU >= '2018/01/01 00:00:00.000' ", conn)
dff

CPU times: user 2 µs, sys: 0 ns, total: 2 µs
Wall time: 4.77 µs

                           UNIDADE_RESPONSAVEL                             NOME_CURSO
0                   ESCOLA AGRÍCOLA DE JUNDIAÍ  ANÁLISE E DESENVOLVIMENTO DE SISTEMAS
1                         CENTRO DE TECNOLOGIA                ARQUITETURA E URBANISMO
2   CENTRO DE CIÊNCIAS HUMANAS, LETRAS E ARTES                          ARTES VISUAIS
3                        CENTRO DE BIOCIÊNCIAS                            BIOMEDICINA
4         CENTRO DE CIÊNCIAS EXATAS E DA TERRA                  CIÊNCIA DA COMPUTAÇÃO
..                                         ...                                    ...
60        CENTRO DE CIÊNCIAS EXATAS E DA TERRA                                QUÍMICA
61                 CENTRO DE CIÊNCIAS DA SAÚDE                         SAÚDE COLETIVA
62        CENTRO DE CIÊNCIAS SOCIAIS APLICADAS                         SERVIÇO SOCIAL
63        CENTRO DE  ENSINO SUPERIOR DO SERIDÓ                 SISTEMAS DE INFORMAÇÃO
64                  ESCOLA AGRÍCOLA DE JUNDIAÍ                              ZOOTECNIA

[65 rows x 2 columns]

### 6.3.2 Retorne o identificador dos cursos oferidos em Natal apenas no turno Matutino.

In [35]:
%time
dff = pd.read_sql_query("SELECT ID_CURSO FROM " +
                      "(SELECT NOME_TURNO, MUNICIPIO, CURSO_TURNO.ID_CURSO " +
                       "FROM  TURNO NATURAL JOIN CURSO_TURNO " +
                       "JOIN LOCALIZACAO ON LOCALIZACAO.ID_CURSO = CURSO_TURNO.ID_CURSO) " +
                       "WHERE (NOME_TURNO='Matutino') AND (MUNICIPIO='NATAL') " +
                       "", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

     ID_CURSO
0     2000002
1     2000005
2     2000123
3     2000122
4     2000013
5   111635035
6     2000009
7     2000011
8     2000014
9     2000015
10  111635038
11    2000016
12    2000018
13    2000121
14    2000022
15  111635041
16    2000023
17    2000025
18    2000026
19    2000027
20    2000030
21    2000031
22    2000032
23    2000034
24    2000039
25    2000124
26    2000041
27  111635050
28    2000042
29    2936390
30  111635053
31    2000043
32    2671321
33    2000045
34    2000159
35  111635057
36    2000046
37  111635066
38    2000134
39    2000054
40    2000056
41    2000057
42  111635069
43    2000058
44    2000059
45    2000063
46    2000066
47    2000144
48    2000067
49  111635075
50    3156200
51    2000068
52    2000158

In [36]:
%time
dff = pd.read_sql_query("SELECT CURSO_TURNO.ID_CURSO " +
                       "FROM  TURNO JOIN CURSO_TURNO ON TURNO.ID_TURNO = CURSO_TURNO.ID_TURNO " +
                       "JOIN LOCALIZACAO ON LOCALIZACAO.ID_CURSO = CURSO_TURNO.ID_CURSO " +
                       "WHERE (NOME_TURNO='Matutino') AND (MUNICIPIO='NATAL') " +
                       "", conn)
dff

CPU times: user 4 µs, sys: 1e+03 ns, total: 5 µs
Wall time: 8.11 µs

     ID_CURSO
0     2000002
1     2000005
2     2000123
3     2000122
4     2000013
5   111635035
6     2000009
7     2000011
8     2000014
9     2000015
10  111635038
11    2000016
12    2000018
13    2000121
14    2000022
15  111635041
16    2000023
17    2000025
18    2000026
19    2000027
20    2000030
21    2000031
22    2000032
23    2000034
24    2000039
25    2000124
26    2000041
27  111635050
28    2000042
29    2936390
30  111635053
31    2000043
32    2671321
33    2000045
34    2000159
35  111635057
36    2000046
37  111635066
38    2000134
39    2000054
40    2000056
41    2000057
42  111635069
43    2000058
44    2000059
45    2000063
46    2000066
47    2000144
48    2000067
49  111635075
50    3156200
51    2000068
52    2000158

### 6.3.3 Qual o nome dos cursos sob a coordenação de "ANDREA CRISTINA SANTOS DE JESUS" ?

In [37]:
%time
dff = pd.read_sql_query("SELECT NOME_CURSO FROM " +
                      "(SELECT NOME_CURSO, NOME_COORDENADOR " +
                       "FROM  CURSO NATURAL JOIN CURSO_UNIDADE " +
                        "NATURAL JOIN COORDENADOR_UNIDADE " +
                        "NATURAL JOIN COORDENADOR " +
                       "WHERE NOME_COORDENADOR='ANDREA CRISTINA SANTOS DE JESUS' ) " +
                       "", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 7.39 µs

                                           NOME_CURSO
0                                       ADMINISTRAÇÃO
1                                  CIÊNCIAS CONTÁBEIS
2                                                 DDF
3                                             DIREITO
4             ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA
5             ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA
6   ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA - TURM...
7              ESPECIALIZAÇÃO EM EDUCAÇÃO E LINGUAGEM
8   ESPECIALIZAÇÃO EM ENSINO E APRENDIZAGEM DE LÍN...
9             ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS
10            ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS
11                ESPECIALIZAÇÃO EM GESTÃO DE EVENTOS
12   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
13   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
14   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
15                   ESPECIALIZAÇÃO EM LÍNGUA INGLESA
16  ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DA LÍNG...
17           ESPECIALIZAÇÃO EM SUPERVISÃO EDUCACIONAL
18                          ESPECIALIZAÇÃO EM TURISMO
19  ESPECIALIZAÇÃO EM TURISMO E DESENVOLVIMENTO RE...
20                                          GEOGRAFIA
21                                          GEOGRAFIA
22                     GESTÃO ESTRATÉGICA DE NEGÓCIOS
23                                           HISTÓRIA
24                                           HISTÓRIA
25                          LETRAS - LÍNGUA ESPANHOLA
26                         LETRAS - LÍNGUA PORTUGUESA
27                        LETRAS - PORTUGUÊS E INGLÊS
28                                         MATEMÁTICA
29                                          PEDAGOGIA
30                             SISTEMAS DE INFORMAÇÃO
31                                            TURISMO

In [38]:
%time
df = pd.read_sql_query("SELECT NOME_CURSO " +
                       "FROM CURSO AS C, CURSO_UNIDADE AS CU_UNI, UNIDADE_ACADEMICA AS U, COORDENADOR_UNIDADE AS CO_UNI, COORDENADOR AS COO " +
                       "WHERE C.ID_CURSO=CU_UNI.ID_CURSO AND CU_UNI.ID_UNIDADE_RESPONSAVEL=U.ID_UNIDADE_RESPONSAVEL AND " +
                       "U.ID_UNIDADE_RESPONSAVEL=CO_UNI.ID_UNIDADE_RESPONSAVEL AND CO_UNI.ID_COORDENADOR=COO.ID_COORDENADOR " +
                       "AND NOME_COORDENADOR='ANDREA CRISTINA SANTOS DE JESUS' " +
                       "", conn)
df

CPU times: user 3 µs, sys: 0 ns, total: 3 µs
Wall time: 7.63 µs

                                           NOME_CURSO
0                                       ADMINISTRAÇÃO
1                                  CIÊNCIAS CONTÁBEIS
2                                                 DDF
3                                             DIREITO
4             ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA
5             ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA
6   ESPECIALIZAÇÃO EM ADMINISTRAÇÃO PÚBLICA - TURM...
7              ESPECIALIZAÇÃO EM EDUCAÇÃO E LINGUAGEM
8   ESPECIALIZAÇÃO EM ENSINO E APRENDIZAGEM DE LÍN...
9             ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS
10            ESPECIALIZAÇÃO EM FINANÇAS CORPORATIVAS
11                ESPECIALIZAÇÃO EM GESTÃO DE EVENTOS
12   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
13   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
14   ESPECIALIZAÇÃO EM GESTÃO ESTRATÉGICA DE NEGÓCIOS
15                   ESPECIALIZAÇÃO EM LÍNGUA INGLESA
16  ESPECIALIZAÇÃO EM LINGUÍSTICA E ENSINO DA LÍNG...
17           ESPECIALIZAÇÃO EM SUPERVISÃO EDUCACIONAL
18                          ESPECIALIZAÇÃO EM TURISMO
19  ESPECIALIZAÇÃO EM TURISMO E DESENVOLVIMENTO RE...
20                                          GEOGRAFIA
21                                          GEOGRAFIA
22                     GESTÃO ESTRATÉGICA DE NEGÓCIOS
23                                           HISTÓRIA
24                                           HISTÓRIA
25                          LETRAS - LÍNGUA ESPANHOLA
26                         LETRAS - LÍNGUA PORTUGUESA
27                        LETRAS - PORTUGUÊS E INGLÊS
28                                         MATEMÁTICA
29                                          PEDAGOGIA
30                             SISTEMAS DE INFORMAÇÃO
31                                            TURISMO

## 6.4. Consultas envolvendo agregação sobre junção mínimo 2 relações

### 6.4.1 Quantos cursos foram ofertados depois de 2000 ?

In [39]:
%time
dff = pd.read_sql_query("SELECT  N_CURSOS FROM " +
                       "(SELECT 	COUNT(*) as N_CURSOS , ID_CURSO, DATA_FUNCIONAMENTO " +
                       "FROM CURSO NATURAL JOIN OFERTA " +
                       "WHERE DATA_FUNCIONAMENTO >= '2000/01/01 00:00:00.000' )", conn)
dff

CPU times: user 12 µs, sys: 0 ns, total: 12 µs
Wall time: 95.8 µs

   N_CURSOS
0        14

In [40]:
%time
dff = pd.read_sql_query("SELECT  N_CURSOS FROM " +
                       "(SELECT 	COUNT(*) as N_CURSOS , CURSO.ID_CURSO, DATA_FUNCIONAMENTO " +
                        "FROM CURSO, OFERTA "
                       "WHERE (CURSO.ID_CURSO = OFERTA.ID_CURSO) " +
                       "AND (DATA_FUNCIONAMENTO >= '2000/01/01 00:00:00.000') )", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 8.11 µs

   N_CURSOS
0        14

### 6.4.2 Qual o nome do(s) coordenador(es) com maior número de unidades pelas quais é/são responsáveis?

In [41]:
%time
dff = pd.read_sql_query("SELECT  NOME_COORDENADOR FROM " + 
                       "(SELECT COUNT(*) as N_COORDENADOR , ID_COORDENADOR, NOME_COORDENADOR " +
                       "FROM COORDENADOR NATURAL JOIN COORDENADOR_UNIDADE " +
                       "GROUP BY ID_COORDENADOR HAVING N_COORDENADOR>1 )", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 9.06 µs

                  NOME_COORDENADOR
0  ANDREA CRISTINA SANTOS DE JESUS
1            SOCRATES DANTAS LOPES
2  CARLOS ALEXANDRE GOMES DA SILVA

In [42]:
%time
dff = pd.read_sql_query("SELECT  NOME_COORDENADOR FROM " + 
                       "(SELECT COUNT(*) as N_COORDENADOR , COORDENADOR.ID_COORDENADOR, NOME_COORDENADOR " +
                       "FROM COORDENADOR, COORDENADOR_UNIDADE " +
                        "WHERE COORDENADOR.ID_COORDENADOR = COORDENADOR_UNIDADE.ID_COORDENADOR "
                       "GROUP BY COORDENADOR.ID_COORDENADOR HAVING N_COORDENADOR>1 )", conn)
dff

CPU times: user 4 µs, sys: 0 ns, total: 4 µs
Wall time: 19.3 µs

                  NOME_COORDENADOR
0  ANDREA CRISTINA SANTOS DE JESUS
1            SOCRATES DANTAS LOPES
2  CARLOS ALEXANDRE GOMES DA SILVA

# 7. Autoavaliação Membros


---

Laís Guimarães

* Normalizar Banco de Dados
*   Diagrama ER
*   Diagrama Relacional
*   Adaptação código para sqlite
*   Formulação consultas 
*   Consultas SQL

Eduardo Dias
* Script do Banco de Dados
* Popular o Banco de Dados
* Consultas SQL

Ivan Moraes
* Consultas SQL